<div>
<p><%= question.question_text %> <%= link_to "Edit", edit_exit_ticket_question_path(@exit_ticket,question), class: "label label-primary" %>  <%= link_to "Delete", exit_ticket_question_path(@exit_ticket,question), method: :delete, data:{confirm: "You sure?"}, class: "label label-danger"  %>
</div>
