

<section class="content">
<div class="row">
<div class="col-md-12">
<div class="box">
  <div class="box-header with-border">
    <h3 class="box-title">Edit Question</h3>
    <div class="box-tools pull-right">
      <!-- Buttons, labels, and many other things can be placed here! -->
      <!-- Here is a label for example -->
      
    </div>
    <!-- /.box-tools -->
  </div>
  <!-- /.box-header -->
  <div class="form-body">
  <div class="box-body">
   <%= form_for  [@exit_ticket,@question] do |f| %>
	<%= f.label "Question Text" %>
	<%= f.text_field :question_text%>
  	<%= f.submit "Save" %>
<% end %>
  </div>
</div>
  <!-- /.box-body -->
</div>
<!-- /.box -->
</div>
</div>
</section>