<section class="content">
<div class="row">
<div class="col-md-12">
<div class="box">
  <div class="box-header with-border">
    <h3 class="box-title">Exit Ticket Answers</h3>
    <div class="box-tools pull-right">
      <!-- Buttons, labels, and many other things can be placed here! -->
      <!-- Here is a label for example -->
      
    </div>
    <!-- /.box-tools -->
  </div>
  <!-- /.box-header -->
  <div class="box-body">
  	<div class="form-body">
  		<p> Enter the percentage of teachers who got the question correct. </p>
   <% if !@exit_ticket_answers.empty? %>
<%= form_tag update_all_in_person_exit_ticket_answers_path(@in_person),method: :put do%>
	<% @exit_ticket_answers.each do |answer|%>
		<%= fields_for "answers[]", answer do |f|%>

			<p><%= answer.question.question_text %>  
				<%= f.number_field :percentage_correct %> %</p>
			


		<%end%>
				
<%end%>
<%= submit_tag "Update Exit Ticket Answers", class: "btn btn-primary" %>

<%end%>
</div>
<%else%>
<p> No Questions</p>
<%= link_to "Edit Exit Ticket", exit_tickets_path, class: "btn btn-primary"%>
<%end%>
  </div>
  <!-- /.box-body -->


</div>
<!-- /.box -->
</div>
</div>
</section>