<tr>
<td width="25%"><%=link_to criterium.name, programme_category_criterium_path(@programme,@category,criterium) %></td>
<td width="50%"><%=criterium.focus_points %></td>
<td width="10%"><%=criterium.possible_score %></td>
<td> <%= link_to "Edit", edit_programme_category_criterium_path(@programme, @category, criterium), class: "label label-primary"  %>
	<%= link_to  "Delete", programme_category_criterium_path(@programme,@category,criterium), method: :delete, data: {confirm: "You sure?"},class: "label label-danger"%>
</td>
</tr>