<div class="form-body">
<%= form_for [@programme,@category,@criterium] do |f| %>
	<div class="form-group">	
		<h4><strong><%= @category.name %></strong></h4>
	</div>
	<div class="form-group">
	  	<%= f.label :name %>
	  	<%= f.text_field :name ,class: "form-control"%>
	  </div>
	<div class="form-group">
		<%=  f.label :focus_points %>
		<%= f.text_area(:focus_points ,class: "form-control") %>
	</div>

	<div class="form-group">
		<%=f.label :possible_score %>
		<%=f.number_field(:possible_score, :step =>1,class: "form-control") %> 
	</div>



  <%= f.submit yield(:button_text), class: "btn btn-primary" %>

  <% end %>
</div>