<section class="content">
<div class="row">
<div class="col-md-12">
<div class="box">
  <div class="box-header with-border">
    <h3 class="box-title"><%= @criterium.name %></h3>
    <div class="box-tools pull-right">
      <!-- Buttons, labels, and many other things can be placed here! -->
      <!-- Here is a label for example -->
      <%= link_to "Go to Instructional Area",programme_category_path(@programme,@category) , class: "btn btn-sm btn-default" %>
	<%= link_to  "Edit Instructional Technique", edit_programme_category_criterium_path(@programme,@category,@criterium),class: "btn btn-sm btn-default"%>
	<%= link_to  "Delete Instructional Technique", programme_category_criterium_path(@programme,@category,@criterium), method: :delete, data: {confirm: "You sure?"},class: "btn btn-sm btn-danger"%>
      
    </div>
    <!-- /.box-tools -->
  </div>
  <!-- /.box-header -->
  <div class="box-body">
   <p><strong>Instructional Area: </strong><%= @criterium.category.name %></p>
<p><strong>Focus Points: </strong><%= @criterium.focus_points %></p>
<p><strong>Possible Score: </strong><%= @criterium.possible_score %></p>
  </div>
  <!-- /.box-body -->
</div>
<!-- /.box -->
</div>
</div>
</section>


