<h1>Analytics</h1>
<div class= "col-md-12">
<div class="row">
<%= form_tag  static_pages_analytics_path(params["criterium"],params['teacher']), method: :get do %>
  <div class="col-md-2">
  	<%=select_tag :criterium,options_from_collection_for_select(Criterium.all, "id", "name"),prompt: "Instructional Techniques",class: 'form-control' %>
  </div>
  
  <div class="col-md-2">
  <%= select_tag :category,options_from_collection_for_select(Category.all,"id","name"),prompt: "Instructional Areas",class: 'form-control' %>
  </div>
   
  <div class="col-md-2">
    <%= select_tag :observer, options_from_collection_for_select(User.all,"id","name"),prompt: "Observer",class: 'form-control'%>
  </div>
</div>

<div class="row">
<div class = col-md-12>
  	<div class = "col-sm-3">
  	<h2> School</h2>
		<% School.where.not(name:"No School").all.each do |school| %>
		<div class="checkbox checkbox-primary">
		<%= check_box_tag "school_ids[]", school.id, checked = true, id: dom_id(school), class: 'checkbox checkbox-primary' %>
		<%= label_tag dom_id(school), school.name %><br>
		</div>
		<%end%>
	</div>
	
    <div class = "col-sm-3">
    <h2>Phase</h2>
    	<% phases = ["Foundation","Intermediate","Intermediate/Senior","Senior","Senior/FET","FET","Other"]%>
		<% phases.each do |phase| %>
		<div class="checkbox checkbox-primary">
			<%= check_box_tag "phases[]", phase, checked = true,id: phase, class: 'checkbox checkbox-primary' %>
			<%= label_tag phase, phase%><br>
		</div>
		<%end%>
	</div>
	<div class = "col-sm-3">
    <h2>Observation Number</h2>
    	<% observations = ["1","2","3","4","5"]%>
		<% observations.each do |observation| %>
		<div class="checkbox checkbox-primary">
			<%= check_box_tag "observations_orders[]", observation, checked = true,id: observation , class: 'checkbox checkbox-primary' %>
			<%= label_tag observation, "Observation #{observation}"%><br>
		</div>
		<%end%>
	</div>

	

</div>
</div>
<div class="row">



  
  <%= submit_tag "Filter Scores",class: 'btn btn-primary'%>
  </div>
</div>

<div class = "col-md-12">
<% if !params[:criterium].nil?||!params[:category].nil?||!params[:school].nil?||!params[:observation_number].nil?||!params[:teacher_phase].nil? ||!params[:observer].nil? %>
	<%if !params[:criterium].empty?%>
		<h2><%= Criterium.find(params["criterium"]).name %></h2>
	<%end%>

	<%if !params[:category].empty?%>
		<h2><%= Category.find(params["category"]).name %></h2>
	<%end%>

	<%if !params[:school_ids].nil?%>
		<% if params[:school_ids].count == School.count-1 %>
			<h2> All Schools </h2>
		<%else%>
		<h2>
			<% params["school_ids"].each do |school| %>
				<%= School.find(school).name %> 
			<%end%>
		</h2>
		<%end%>
	<%end%>

	<%if !params[:observations_orders].nil?%>
		<% if params[:observations_orders].count == 5%>
		<h2> All Observations </h2>
	 	<% else %>
			<h2> Observation numbers: <%= params[:observations_orders] %></h2>
			<%end%>
	<%end%>

	<%if !params[:phases].nil?%>
		<% if params[:phases].count == 7 %>
			<h2> All Phases </h2>
		<%else%>
		<h2>
			<% params[:phases].each do |phase| %>
			<%= phase %>
			<%end%>
		</h2>
		<%end%>
	<%end%>

	<%if !params[:observer].empty?%>
		<h2><%= User.find(params["observer"]).name%></h2>
	<%end%>

<% end %>
</div>



<div class="bs-example">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#averages">Averages</a></li>
        <li><a data-toggle="tab" href="#change">Change</a></li>
        <li><a data-toggle="tab" href="#highest">Highest</a></li>
        <li><a data-toggle="tab" href="#lowest">Lowest</a></li>
    </ul>
    <div class="tab-content">
        <div id="averages" class="tab-pane fade in active">
            <h3>Averages</h3>
           <div class ="col-md-6">
           <table class="table table-bordered">
				<thead>
					<tr>
						<th>
							Instruction Technique
						</th>
						<th>
							Averages
						</th>
					</tr>
				</thead>
				<tbody>
				<% @criteria.all.each  do |criterium| %>
					<tr>
						<td>
							<p><%=criterium.name%></p>
						</td>
						<td>
						<% if !@all_teachers.joins(:scores).where(scores: {criterium: criterium}).empty? %>
	    					<%=@all_teachers.joins(:scores).where(scores: {criterium: criterium}).average(:score_value).round(2)%>
	    				<% else %>
	    					-
	    				<%end%>
						</td>
					</tr>
				<%end%>

				</tbody>
			</table>
        </div>
        
        </div>
        <div id="change" class="tab-pane fade">
            <h3>Change</h3>
           <div class ="col-md-6">
           <table class="table table-bordered">
				<thead>
					<tr>
						<th>
							Instruction Technique
						</th>
						<th>
							Average
						</th>
					</tr>
				</thead>
				<tbody>

				<% @criteria.all.each  do |criterium| %>
					<tr>
						<td>
							<p><%=criterium.name%></p>
						</td>
						<td>
						<% if !@all_teachers.joins(:scores).where(scores: {criterium: criterium}).empty? %>
	    					<%=@all_teachers.joins(:scores).where(scores: {criterium: criterium}).average(:score_value).round(2)%>
	    				<% else %>
	    					-
	    				<%end%>
						</td>
					</tr>
				<%end%>
				</tbody>
			</table>
        </div>
        </div>
        <div id="highest" class="tab-pane fade">
            <h3>Highest</h3>
           <div class ="col-md-6">
           <table class="table table-bordered">
				<thead>
					<tr>
						<th>
							Instruction Technique
						</th>
						<th>
							Average
						</th>
					</tr>
				</thead>
				<tbody>
				<% @criteria.all.each  do |criterium| %>
					<tr>
						<td>
							<p><%=criterium.name%></p>
						</td>
						<td>
						<% if !@all_teachers.joins(:scores).where(scores: {criterium: criterium}).empty? %>
	    					<%=@all_teachers.joins(:scores).where(scores: {criterium: criterium}).maximum(:score_value).round(2)%>
	    				<% else %>
	    					-
	    				<%end%>
						</td>
					</tr>
				<%end%>
				</tbody>
			</table>
        </div>
        </div>
        <div id="lowest" class="tab-pane fade">
            <h3>Lowest</h3>
           <div class ="col-md-6">
           <table class="table table-bordered">
				<thead>
					<tr>
						<th>
							Instruction Technique
						</th>
						<th>
							Averages
						</th>
					</tr>
				</thead>
				<tbody>
				<% @criteria.all.each  do |criterium| %>
					<tr>
						<td>
							<p><%=criterium.name%></p>
						</td>
						<td>
						<% if !@all_teachers.joins(:scores).where(scores: {criterium: criterium}).empty? %>
	    					<%=@all_teachers.joins(:scores).where(scores: {criterium: criterium}).minimum(:score_value).round(2)%>
	    				<% else %>
	    					-
	    				<%end%>
						</td>
					</tr>
				<%end%>

				</tbody>
			</table>
        </div>
        </div>
        </div>
    </div>
</div>


<%end%>

<% if !@teachers.nil? %>
<%= will_paginate @teachers %>

<table class= "table-bordered">
	<thead>
		<tr>
			<th>Teachers</th>
			<% @criteria.all.each  do |criterium| %>
	      		<th><p><%=criterium.name%></p>
	      	</th>
	      	<%end%>
	    </tr>

	</thead>
	<tbody>
		<tr>
		<% @teachers.each do |teacher| %>
			<td>
				<%=teacher.full_name%>
			</td>
			<% @criteria.all.each do |criterium| %>
			<% average_scores = [] %>
			<td>
				<% if !teacher.scores.where(criterium:criterium).empty? %>
					<% if params[:calculations] == "Average" %> 
					<%= score =  teacher.scores.where(criterium: criterium).average(:score_value).round(1)%>
					<% average_scores << score %>

					<% elsif params[:calculations] == "Highest" %> 
					<%= score =  teacher.scores.where(criterium: criterium).maximum(:score_value).round(1)%>
					<% average_scores << score %>

					<% elsif params[:calculations] == "Lowest" %> 
					<%= score =  teacher.scores.where(criterium: criterium).minimum(:score_value).round(1)%>
					<% average_scores << score %>

					<% elsif params[:calculations] == "Growth" %> 
					<%= score =  teacher.scores.where(criterium: criterium).average(:score_value).round(1)%>
					<% average_scores << score %>
					<%end%>
				<%else%>
				-
				<%end%>
			</td>

			<%end%>
			<% if params[:category].present? %>
			<td>
				<% if !teacher.scores.joins(:criterium).where(criteria: {category_id: params[:category]}).empty?%>
				<%= teacher.scores.joins(:criterium).where(criteria:{category_id: params[:category]}).average(:score_value).round(2) %>
				<%end%>
			</td>
			<%end%>
		</tr>
		<%end%>		
	</tbody>
	
</table>
<%= will_paginate @teachers %>

<% end %>
