<section class="content-header">
  <h1>
  Dashboard
  </h1>
</section>
<!-- Main content -->
<section class="content">
  <!-- Info boxes -->
  <div class="row">
    <div class="col-md-4 col-sm-6 col-xs-12">
        <%= link_to teachers_path do %>
      <div class="info-box">
        <span class="info-box-icon bg-grey"><i class="fa fa-pencil"></i></span>
        <div class="info-box-content">
          <span class="info-box-text">Teachers</span>
          <span class="info-box-number"><%= Teacher.count%><small></small></span>
        <%end%>
      </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <div class="col-md-4 col-sm-6 col-xs-12">
      <%= link_to programmes_path do %>
      <div class="info-box">
        <span class="info-box-icon bg-burntred"><i class="fa fa-institution"></i></span>
        <div class="info-box-content">
          <span class="info-box-text">Programmes</span>
          <span class="info-box-number"><%= Programme.count %></span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <% end %>
      <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <!-- fix for small devices only -->
    <div class="clearfix visible-sm-block"></div>
    <div class="col-md-4 col-sm-6 col-xs-12">
      <%= link_to programme_sessions_path do %>
      <div class="info-box">
        <span class="info-box-icon bg-gold"><i class="fa fa-envelope"></i></span>
        <div class="info-box-content">
          <span class="info-box-text">Sessions</span>
          <span class="info-box-number"><%= ProgrammeSession.count%></span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <%end%>
      <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <!-- /.col -->
  </div>
  <!-- /.row -->
  <!-- Main row -->
  <div class="row">
    <!-- Left col -->
    <div class="col-md-12">
      <div class="box box-default">
        <div class="box-header with-border">
          <h3 class="box-title">Latest Sessions</h3>
          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
            </button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
          </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <div class="table-responsive">
            <table class="table no-margin">
              <thead>
                <tr>
                  <th>Session Date</th>
                  <th>School</th>
                  <th>Session Name</th>
                  <th>Number Present</th>
                </tr>
              </thead>
              <tbody>
                <% @in_people.all.each do |session| %>
                <tr>
                  <td><%=session.date_done%></td>
                  <td><%= link_to session.programme_session.school.name, session.programme_session.school %></td>
                  <td><%= link_to session.name, session %></td>
                  <td><%= session.attendances.where(attendance_value:"Present").count%></td>
                </tr>
                <%end%>
              </tbody>
            </table>
          </div>
          <!-- /.table-responsive -->
        </div>
        <!-- /.box-body -->
        <div class="box-footer clearfix">
          <%= link_to "New Session", new_programme_session_path, class: "btn btn-sm btn-primary btn-flat pull-left"%>
          <%= link_to "View All Sessions", programme_sessions_path, class: "btn btn-sm btn-default btn-flat pull-right"%>
        </div>
        <!-- /.box-footer -->
      </div>
      
    </div>
    <!--/.box -->
  </div>
  <!-- /.col -->
<!-- /.row -->
</section>