<% provide(:title, "Home") %>
<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
	<title><%=yield(:title)%> | Database</title>
</head>
<body>


<div class="center jumbotron">
  <h1>Welcome to Database</h1>
  <p>Please <%=link_to "log in", login_path %> </p>
</div>




</body>
</html>

