<% provide(:title, "Log in") %>
<body class="hold-transition login-page">
  <div class="login-box">
    <div class="login-logo">
      <b>Login </b>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
      <%= form_for(:session, url: login_path) do |f| %>
      <div class="form-group has-feedback">
        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control' %>
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control' %>
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <%= f.submit "Log in", class: "btn btn-primary" %>
      <% end %>
      
      <p>If you are unable to log in please note this portal in only available to Instill Education Staff. If you feel you need to login please contact Instill Staff</p>
    </p>
</div>
</div>
</body>
