<div class="form-body">
<%= form_for(@programme) do |f| %>
<div class="form-group">
  	<%= f.label :name %>
  	<%= f.text_field :name, class: "form-control" %>
</div>
    <div class="form-group">
    <%= f.label :start_date %>
    <%= f.date_field :start_date, class: "form-control"  %>
  </div>
<div class="form-group">
    <%= f.label :end_date %>
    <%= f.date_field :end_date, class: "form-control"  %>
  </div>



    <div class = "form-group">
    	<% School.all.each do |school| %>
      <%= hidden_field_tag "programme[school_ids][]", nil %><%= check_box_tag "programme[school_ids][]", school.id, @programme.school_ids.include?(school.id), id: dom_id(school) %>
  		<%= label_tag dom_id(school), school.name %><br>
    	<%end%>
    </div>




  <%= f.submit yield(:button_text), class: "btn btn-primary" %>

  <% end %>
</div>