<section class="content">
<div class="row">
<div class="col-md-12">
<div class="box">
  <div class="box-header with-border">
    <h3 class="box-title">All Programmes</h3>
    <div class="box-tools pull-right">
      <!-- Buttons, labels, and many other things can be placed here! -->
      <!-- Here is a label for example -->
        <p><%= link_to "Create Programmes", new_programme_path,:class => "btn btn-sm btn-default" %>
    </div>
    <!-- /.box-tools -->
  </div>
  <!-- /.box-header -->
  <div class="box-body">
   <ul class="users">
  <% @programmes.each do |programme| %>
    <li>
      <%= link_to programme.name, programme %> 
    </li>
  <% end %>
</ul>
  </div>
  <!-- /.box-body -->
<div class="box-footer">
</div>

</div>
<!-- /.box -->
</div>
</div>
</section>
