<section class="content-header">
</section>
<!-- Main content -->
<section class="content">
	<div class="row">
		<div class="col-md-3">
			<!-- Profile Image -->
			<div class="box box-default">
				<div class="box-body box-profile">
					
					<h3 class="profile-username text-center"><%= @programme.name%></h3>
					<ul class="list-group list-group-unbordered">
						<li class="list-group-item">
							<b>Date Started</b> <p class="pull-right"><%= @programme.start_date%></p>
						</li>
						<li class="list-group-item">
							<b>Date Ended</b> <p class="pull-right"><%= @programme.end_date%></p>
						</li>
					</ul>
					<div class="row no-print">
						<div class="col-xs-12">
							
							<%= link_to  "Edit Programme", edit_programme_path(@programme),class: "btn btn-sm btn-primary"%>
							<%= link_to link_to "Delete programme", @programme, method: :delete,
							data: { confirm: "You sure?" },class: "btn btn-sm btn-danger"  %>
						</div>
					</div>
				</div>
				<!-- /.box-body -->
			</div>
			<!-- /.box -->
			<!-- About Me Box -->
			<div class="box box-default">
				<div class="box-header with-border">
					<h3 class="box-title">Schools</h3>
				</div>
				<!-- /.box-header -->
				<div class="box-body">
					<% @programme.schools.each do |s| %>
					<p><%= link_to s.name, s %></p>
					<%end%>
				</div>
				<!-- /.box-body -->
			</div>
			<div class="box box-default">
				<div class="box-header with-border">
					<h3 class="box-title">Instructional Areas</h3> 	<%= link_to "Add New Instructional Area",  new_programme_category_path(@programme), class: "btn btn-sm btn-default pull-right" %>
				</div>
				<!-- /.box-header -->
				<div class="box-body">
					<ul>
						<% @programme.categories.each do |category| %>
						<li>
							<%= link_to category.name, programme_category_path(@programme,category) %>
							<% category.criteria.all.each do |criterium| %>
							<p style="text-indent:10px"><%= link_to criterium.name, programme_category_criterium_path(@programme,category,criterium) %></p>
							<%end%>
						</li>
						<%end%>
					</ul>
				</div>
				<!-- /.box-body -->
			</div>
			<!-- /.box -->
		</div>
		<!-- /.col -->
		<div class="col-md-9">
			<div class="box">
				<div class="box-header with-border">
					<h3 class="box-title">Programme Sessions</h3>
					<div class="box-tools pull-right">
						<!-- Buttons, labels, and many other things can be placed here! -->
						<!-- Here is a label for example -->
						<%= link_to "Create Session", new_programme_session_path, class: "btn btn-sm btn-default"%>
						<%= link_to "Update Spreadsheet",programme_update_spreadsheet_path(@programme) , class: " btn btn-default btn-sm"%>
					</div>
					<!-- /.box-tools -->
				</div>
				<!-- /.box-header -->
				<div class="box-body">
					<table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
						<thead>
							<tr>
								<th>Date Done</th>
								<th>Type</th>
								<th>Session Name</th>
								<th>School Name</th>
							</tr>
						</thead>
						<tbody>
							<tr class="odd gradeX">
								<% @programme.programme_sessions.each do |programme_session| %>
								
								<td width="20%"><%= programme_session.profile.date_done unless (programme_session.profile_type=="SelfWork" or programme_session.profile_type=="Observation" ) %></td>
								
								
								
								<td width="25%"><%= view_type(programme_session.profile_type) %></td>
								<td width="25%"><%= link_to programme_session.profile.name, programme_session %></td>
								<td width="30%"><%= link_to programme_session.school.name, programme_session.school unless programme_session.school_id.nil?%></td>
							</tr>
							<%end%>
						</tbody>
					</table>
				</div>
				<!-- /.box-body -->
			</div>
		</div>
		<!-- /.nav-tabs-custom -->
	</div>
	<!-- /.col -->
</div>
<!-- /.row -->
</section>