<div class="form-body">
<%= form_for(@observation) do |f| %>  
	<div class="form-group">
		<%= f.label :name %>
		<%= f.text_field :name, class: 'form-control' %>
	</div>

  <div class="form-group">
    <%= f.label :observation_order %>
    <%= f.select :observation_order, options_for_select(1..5), class: "form-control" %>
  </div>

  	<div class="form-group">
    	<%= f.label :observation_type, "Category:" %>
    	<%= f.select :observation_type, ['In Class','Simulation'], :prompt => '-- Select One --', :required => true, class: "form-control" %>
  </div>



    <%= f.submit yield(:button_text), class: "btn btn-primary" %>

<% end %>
  </div>