<h1>All Observations</h1>
<% School.all.each do |school| %>
<div class="row">
	<div class="col-lg-4">
		<div class="panel panel-default">
		    <div class="panel-heading">
		        <%= school.name %>
		    </div>
		    <div class="panel-body">
		       	<% school.programme_sessions.where(profile_type: "Observation").last(5).each do |observation| %>
		        <p><%= link_to observation.profile.name, observation.profile %></p>
		        	<%end%>
		        	<%= link_to "See More", school %>
		    </div>
		    <!-- /.panel-body -->
		</div>
		<!-- /.panel -->
		
<%end%>
	</div>	