<section class="content">
	<div class="row">
		<div class="col-md-4">
			<!-- Profile Image -->
			<div class="box box-default">
				<div class="box-body box-profile">
					
					<h3 class="profile-username text-center"><%= @observation.name%></h3>
					<ul class="list-group list-group-unbordered">
						<li class="list-group-item">
							<b>Programme Nane</b> <p class="pull-right"><%= link_to @observation.programme_session.programme.name, @observation.programme_session.programme %></p>
						</li>
						<li class="list-group-item">
							<b>Observation Order</b> <p class="pull-right"><%= @observation.observation_order %></p>
						</li>
						<li class="list-group-item">
							<b>School</b> <%=link_to @observation.programme_session.school.name,
							@observation.programme_session.school,class: "pull-right" %>
						</li>
						<li class="list-group-item">
							<b>Session Type</b> <p class="pull-right"><%= @observation.observation_type %></p>
						</li>
					</ul>
					<div class="box-footer clearfix">
						<div class="row no-print">
							<div class="col-xs-12">
								<div class="button-group">
								
								<%= link_to "Edit Session", edit_observation_path(@observation), class: "btn btn-sm btn-primary"%>
							</div>
							<div class="button-group">
								<%= link_to "Change Programme", edit_programme_session_path(@observation.programme_session), class: "btn btn-sm btn-primary" %>
								<%= link_to "Delete Session", @observation, method: :delete,class: "btn btn-sm btn-danger",
								data: { confirm: "You sure?" }  %>
							</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /.box-body -->
			</div>
			<!-- /.box -->
			<div class="box">
				<div class="box-header with-border">
					<h3 class="box-title">Instructional Areas</h3>
					<div class="box-tools pull-right">
						<!-- Buttons, labels, and many other things can be placed here! -->
						<!-- Here is a label for example -->
						<%= link_to "Add New Category",  new_programme_category_path(@programme), class: "btn btn-sm btn-default" %>
					</div>
					<!-- /.box-tools -->
				</div>
				<!-- /.box-header -->
				<div class="box-body">
					<ul>
						<% @programme.categories.each do |category| %>
						<li>
							<%= link_to category.name, programme_category_path(@programme,category) %>
							<% category.criteria.all.each do |criterium| %>
							<p style="text-indent:10px"><%= link_to criterium.name, programme_category_criterium_path(@programme,category,criterium) %>
							| <%= @observation.scores.where(criterium: criterium).average(:score_value).round(2) unless @observation.scores.where(criterium: criterium).average(:score_value).nil?  %></p>
							<%end%>
						</li>
						<%end%>
					</ul>
					
				</div>
				<!-- /.box-body -->
</div>
		</div>
		<div class="col-md-8">
			<div class="box box-default">
				<div class="box-header with-border">
					<h3 class="box-title">Observations Done</h3>
				
				<div class="box-tools pull-right">
					<!-- Buttons, labels, and many other things can be placed here! -->
					<!-- Here is a label for example -->
					<%= link_to "Export Scores CSV", observation_path(format: "csv"), class: "btn btn-sm btn-default" %>
					<%= link_to "Add Feedback", new_observation_feedback_path(@observation) ,class: "btn btn-sm btn-default" %>
				</div>
				<!-- /.box-header -->
				<div class="box-body">
					<% @observation.feedbacks.each do |feedback| %>
					
					<p><%= link_to feedback.teacher.full_name, observation_feedback_path(@observation,feedback) unless feedback.teacher.nil? %> | <%= @observation.programme_session.school.name%> | <%= feedback.observation_done.to_date unless feedback.observation_done.nil? %> <%=link_to "Edit", edit_observation_feedback_path(@observation,feedback),class: "label label-primary" %>
						<%= link_to "Delete", observation_feedback_path(@observation,feedback), method: :delete, class: "label label-danger",
								data: { confirm: "You sure?" }  %>
					<%end%>
				</div>
				<!-- /.box-body -->
			</div>
			<div class="box">
				<div class="box-header with-border">
					<h3 class="box-title">Import Feedback</h3>
					<div class="box-tools pull-right">
						<!-- Buttons, labels, and many other things can be placed here! -->
						<!-- Here is a label for example -->
						
					</div>
					<!-- /.box-tools -->
				</div>
				<!-- /.box-header -->
				<div class="box-body">
					<%= form_tag import_observation_feedbacks_path(@observation), multipart: true do %>
					<%= file_field_tag :file, class: "form-control" %>
					<%= submit_tag "Import", class: "form-control" %>
					<%end%>
				</div>
				<!-- /.box-body -->
			</div>
			<!-- /.box -->
			<!-- /.col -->
			
			
		</div>
		<!-- /.col -->
		<div class="box">
  <div class="box-header with-border">
    <h3 class="box-title">Import from Google</h3>
    <div class="box-tools pull-right">
      <!-- Buttons, labels, and many other things can be placed here! -->
      <!-- Here is a label for example -->
      
    </div>
    <!-- /.box-tools -->
  </div>
  <!-- /.box-header -->
  <div class="box-body">
  	<div class="form-group">
	<%= form_tag  import_google_observation_feedbacks_path(@observation, @feedback), multipart: true do %>
  	
  	<div class="form-group">
  		<%= label_tag "Enter Document Url",:url, class: "form-control"%>
  	<%=text_field_tag :url,nil,placeholder:'Enter Url',class: "form-control"%>

  </div>
  	<div class = "form-group">
    	<% @observation.programme_session.programme.categories.all.each do |category| %>
      <%= hidden_field_tag "programme[categories][]" %>
      <%= check_box_tag "programme[categories][]", category.name, name: dom_id(category) %>
  		<%= label_tag dom_id(category), category.name %><br>
    	<%end%>
    

  </div>
  	<%= submit_tag "Add Feedback", class: "btn btn-primary" %>
 
</div>

<% end %>
  
  <!-- /.box-body -->

</div>
	</div>
	<!-- /.row -->
</section>