<%= form_for(@action_step) do |f| %>

<div class="form-group">
  	<%= f.label "Name" %>
  	<%= f.text_field :as_name, class: 'form-control' %>
  </div>

<div class="form-group">
	<%=f.label "Code" %>
	<%=f.number_field(:as_code, :step =>1, class: "form-control")%> 
</div>


  <%= f.submit yield(:button_text), class: "btn btn-primary" %>

  <% end %>
