<section class="content-header">
</section>
<section class="content">
<div class="row">
<div class="col-md-12">
<div class="box">
  <div class="box-header with-border">
    <h3 class="box-title">Action Steps</h3>
    <div class="box-tools pull-right">
      <!-- Buttons, labels, and many other things can be placed here! -->
         <%= link_to "Create Action Step", new_action_step_path, :class => "btn btn-default btn-sm" %>
   <%= link_to "Export to CSV", action_steps_path(format: "csv"), class: "btn btn-default btn-sm" %>
      <!-- Here is a label for example -->
    </div>
    <!-- /.box-tools -->
  </div>
  <!-- /.box-header -->
  <div class="box-body">
  	<%= will_paginate %>
    <p>Action Steps are aligned to the Get Better Faster Scope and Sequence</p>
    <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
		<thead>
			<tr>
				<th>Code</th>
				<th>Name</th>
			</tr>
		</thead>
		<tbody>
			<tr class="odd gradeX">
		  <% ActionStep.all.each do |action_step| %>
		  	<td><%=action_step.as_code %></td>
		    <td><%=link_to action_step.as_name, action_step %></td>
        <td>
          <%= link_to "Edit", edit_action_step_path(action_step), class: "label label-primary"%>
          <%= link_to "Delete", action_step, method: :delete, data: { confirm: "You sure?" }, class: "label label-danger"%>
        </td>
		    
		</tr>
		<%end%>
		</tbody>
	</table>
  </div>
  <!-- /.box-body -->
  <div class="box-footer">


  </div>
  <!-- box-footer -->
</div>
<!-- /.box -->

<div class="box">
  <div class="box-header with-border">
    <h3 class="box-title">Import Action Steps</h3>
    <div class="box-tools pull-right">
      <!-- Buttons, labels, and many other things can be placed here! -->
      <!-- Here is a label for example -->
    </div>
    <!-- /.box-tools -->
  </div>
  <!-- /.box-header -->
  <div class="box-body">
    <%= form_tag import_action_steps_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>
  </div>
  <!-- /.box-body -->
  <!-- box-footer -->
</div>
<!-- /.box -->

</div>

</div>
</section>










	







