<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">Action Step</h3>
          <div class="box-tools pull-right">
            <!-- Buttons, labels, and many other things can be placed here! -->
            <!-- Here is a label for example -->
          </div>
          <!-- /.box-tools -->
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <p><%= @action_step.as_name %></p>
          <p><%= @action_step.as_code %></p>
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
          <%= link_to "Edit Action Step", edit_action_step_url(@action_step),class: "btn btn-primary" %>
          <%= link_to "Delete Action Step",@action_step,method: :delete, data:{confirm:"You sure?"},class: "btn btn-danger" %>
        </div>
      </div>
      <!-- /.box -->
    </div>
  </div>
</section>