<h3><%= assignment.name %></h3>
<p><strong>Description: </strong><%= assignment.description %></p>
<p><strong>Possible Score: </strong><%= assignment.possible_score %></p>
<p><%= link_to "Edit", edit_self_work_assignment_path(@self_work,assignment), class: "label label-primary" %>
	<%= link_to "Delete",self_work_assignment_path(@self_work,assignment), method: :delete,data: { confirm: "You sure?" }, class: "label label-danger"  %>
</p>
<hr />
