<div class= "row">
  	<div class="col-sm-12">
		<%= form_for [@self_work, @assignment] do |f| %>  
			<div class="form-group">
				<%= f.label :name %>
				<%= f.text_field :name, class: "form-control" %>
			</div>

			<div class="form-group">
				<%= f.label :description %>
				<%= f.text_field :description, class: "form-control" %>
			</div>
			
			<div class="form-group">
				<%= f.label :possible_score %>
				<%= f.number_field :possible_score,min:0, class: "form-control" %>
			</div>

		    <%= f.submit yield(:button_text), class: "btn btn-primary" %>
		<% end %>
	</div>
</div>