<div class="form-body">
<%= form_for [@school,@conversation] do |f| %>

	<div class="form-group">
		<%= f.label :programme %>
		<%= f.collection_select(:programme_id, @school.programmes.all,:id, :name ,class: 'form-control')%>
	</div>
	<div class="form-group">
		<%=	f.label :month %>
		<%= f.date_select :month, class: 'form-control'%>
	</div>

	<div class="form-group">
		<%=	f.label :status %>
		<%= f.select :status,["Held","Not Held"], class: 'form-control'%>
	</div>

	<%= f.submit yield(:button_text),class: "btn btn-primary" %>

<%end%>
</div>