<h1>Scores</h1>

<%= form_tag  scores_path(params["criterium"]), method: :get do %>
  <div class="col-md-2">
  	<%=select_tag :criterium,options_from_collection_for_select(Criterium.all, "id", "name"),prompt: "Instructional Techniques",class: 'form-control' %>
  </div>
  
  <div class="col-md-2">
  <%= select_tag :category,options_from_collection_for_select(Category.all,"id","name"),prompt: "Instructional Areas",class: 'form-control' %>
  </div>
  
  <div class="col-md-2">
  <%=select_tag :school,options_from_collection_for_select(School.all, "id", "name"),prompt: "Select School",class: 'form-control'%>
  </div>
  
  <div class="col-md-2">
  <%=select_tag :observation_number,options_for_select([1,2,3,4,5]),prompt: "Observation Number",class: 'form-control'%>
  </div>
  
  <div class="col-md-2">
  <%= select_tag :teacher_phase, options_for_select(["Foundation","Intermediate","Senior","FET"]),prompt: "Phase",class: 'form-control'%>
  </div>
  
  <div class="col-md-2">
    <%= select_tag :observer, options_from_collection_for_select(User.all,"id","name"),prompt: "Observer",class: 'form-control'%>
  </div>

  <div class ="col-md-12">
  <%= submit_tag "Filter Scores",class: 'form-control'%>
  </div>
<% end %>


<div class = "col-md-12">
<% if !params[:criterium].nil?||!params[:category].nil?||!params[:school].nil?||!params[:observation_number].nil?||!params[:teacher_phase].nil? ||!params[:observer].nil? %>
<%if !params[:criterium].empty?%>
<h2><%= Criterium.find(params["criterium"]).name %></h2>
<%end%>

<%if !params[:category].empty?%>
<h2><%= Category.find(params["category"]).name %></h2>
<%end%>

<%if !params[:school].empty?%>
<h2><%= School.find(params["school"]).name %></h2>
<%end%>

<%if !params[:observation_number].empty?%>
<h2> Observation number: <%= params["observation_number"] %></h2>
<%end%>

<%if !params[:teacher_phase].empty?%>
<h2><%= params["teacher_phase"]%></h2>
<%end%>

<%if !params[:observer].empty?%>
<h2><%= User.find(params["observer"]).name%></h2>
<%end%>

<%end%>
<% if !@scores.empty? %>
<p><strong>Averages: </strong><%= @all_scores.average(:score_value).round(2)%></p>
<% else%>
<p>No Scores</p>
<%end%>
</div>




<%= will_paginate%>


<table class="table">
	<thead>
		<tr>
			<th>
				Teacher Name
			</th>
			<th>
				
			</th>
			<th>
				Observation Number
			</th>
			<th>
				Criteria
			</th>
			<th>
				Score
			</th>
		</tr>
	</thead>
	<tbody>
<% @scores.each do |score| %>
		<tr>
			<td>
				<%= score.feedback.teacher.full_name %>
			</td>
			<td>
				
			</td>
			<td>
				<%= score.feedback.observation.name %>
			</td>
			<td>
				<%= score.criterium.name%>
			</td>
			<td>
				<%= score.score_value%>
			</td>
		</tr>
	</tbody>
	<%end%>
</table>

<%= will_paginate %>

