<%= form_for(@user) do |f| %>
  <%= render 'layouts/error_messages', object: @user %>

<div class="form-group has-feedback">
  <%= f.label :name %>
  <%= f.text_field :name, class: 'form-control' %>
  <span class="glyphicon glyphicon-user form-control-feedback"></span>
</div>
<div class="form-group has-feedback">
  <%= f.label :email %>
  <%= f.email_field :email, class: 'form-control' %>
  <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
</div>
<div class="form-group has-feedback">
  <%= f.label :password %>
  <%= f.password_field :password, class: 'form-control' %>
   <span class="glyphicon glyphicon-lock form-control-feedback"></span>
</div>
<div class="form-group has-feedback">
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation, class: 'form-control' %>
  <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
</div>

  <%= f.submit yield(:button_text), class: "btn btn-primary" %>
<% end %>
