<% provide(:title, "Edit user") %>
<% provide(:button_text,"Save Changes") %>
<h1>Update User </h1>

<div class="register-box">
  <div class="register-box-body">
    <%= render 'form' %>
    </div>
 </div>



