<% provide(:title, 'All users') %>
<h1>Users</h1>
<div class="col-md-8">
	<div class="box box-custom">
		<div class="box-header with-border">
			<h3 class="box-title">All users</h3>
			<div class="box-tools pull-right">
      <!-- Buttons, labels, and many other things can be placed here! -->
      <!-- Here is a label for example -->
      	<% if current_user.admin? %>
      	<%= link_to "Create User", new_user_path, class: "btn btn-sm btn-default" %>
      	<%end%>
    </div>
		</div>
		<!-- /.box-header -->
		<div class="box-body">
			<div class="table-responsive">
				<table class="table no-margin">
					<thead>
						<tr>
							<th>User Name</th>
							<th>User Email</th>
						</tr>
					</thead>
					<tbody>
						<% @users.each do |user| %>
						<tr>
							<td><%= link_to user.name, user %></td>
							<td><%= user.email%></td>
							<td><%if current_user.admin? && !current_user?(user) %>
								<%= link_to "delete", user, method: :delete, data: { confirm: "You sure?" } %>
							<% end %></td>
						</tr>
						<%end%>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>