<% provide(:title, "Create user") %>
<% provide(:button_text,"Create User") %>
<h1>Create User </h1>
<div class="register-box">
  <div class="register-box-body">
    <p class="login-box-msg">Create New User*</p>
    <p class="login-box-msg">*Must be Instill Staff Member!</p>
     <%= render 'form' %>    
	</div>
</div>