<% provide(:title, @user.name) %>
<section class="content-header">
  <h1>
  User Profile
  </h1>
</section>
<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-md-3">
      <!-- Profile Image -->
      <div class="box box-default">
        <div class="box-body box-profile">
          
          <h3 class="profile-username text-center"><%=@user.name%></h3>
          <ul class="list-group list-group-unbordered">
            <li class="list-group-item">
              <b>Email</b> <a class="pull-right"><%= @user.email%></a>
            </li>
          </ul>
          <div class="row no-print">
            <div class="col-xs-12">
              <% if current_user?(@user) || current_user.admin %>
              <%= link_to "Edit User", edit_user_path(@user), class: "btn btn-sm btn-primary" %>
              <%= link_to "Delete User", @user,class: "btn btn-sm btn-danger btn-flat", method: :delete,
  data: { confirm: "You sure?" } %>
  <%end%>
            </div>
          </div>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
      <!-- About Me Box -->
      <div class="box box-default">
        <div class="box-header with-border">
          <h3 class="box-title">Biographical Information</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <strong><i class="fa fa-book margin-r-5"></i> Education</strong>
          <p class="text-muted">
           
          </p>
          <hr>
          <strong><i class="fa fa-map-marker margin-r-5"></i> Gender and Age</strong>
          <p class="text-muted"></p>
          <hr>
          <strong><i class="fa fa-pencil margin-r-5"></i> Current Role</strong>
          <p>
            Phase,subject and Role
          </p>
          <hr>
          <strong><i class="fa fa-file-text-o margin-r-5"></i> History</strong>
          <p>Years Yeaching</p>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
    <!-- /.col -->
    <div class="col-md-9">
      <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#session" data-toggle="tab">Session attendance</a></li>
          <li><a href="#selfwork" data-toggle="tab">Self Work</a></li>
          <li><a href="#observation" data-toggle="tab">Observation</a></li>
        </ul>
        <div class="tab-content">
          <div class="active tab-pane" id="session">
            <p>Information</p>
          </div>
          <!-- /.tab-pane -->
        
        <div class="tab-pane" id="selfwork">
          <!-- The timeline -->
          <p>Information</p>
        </div>
        <!-- /.tab-pane -->
        <div class="tab-pane" id="observation">
          <div>
            <% if !@users_feedbacks.empty? %>
            <h2>Observations Done</h2>
            <div class="table-responsive">
            <table class="table no-margin">
              <thead>
                <tr>
                  <th>Teacher</th>
                  <th>Observation Name</th>
                  <th>School Name</th>
                  <th>Date Done</th>
                </tr>
              </thead>
              <tbody>
                <% @users_feedbacks.each do |feedback| %>
                <tr>
                  <td><%= link_to feedback.teacher.full_name, observation_feedback_path(feedback.observation_id,feedback) %></td>
                  <td><%= Observation.find(feedback.observation_id).name%></td>
                  <td><%= feedback.teacher.school.name %></td>
                  <td><%= feedback.observation_done %></td>
                </tr>
                <%end%>
              </tbody>
            </table>
          </div>
          <%end%>
          </div>
        </div>
        <!-- /.tab-pane -->
      </div>
      <!-- /.tab-content -->
    </div>
      </div>

  </div>
  <!-- /.col -->
</section>