<%provide(:button_text, "Save Changes") %>
<section class="content">
<div class="row">
<div class="col-md-12">
<div class="box">
  <div class="box-header with-border">
    <h3 class="box-title">Exit Tickets</h3>
    <div class="box-tools pull-right">
      <!-- Buttons, labels, and many other things can be placed here! -->
       
      <!-- Here is a label for example -->
    </div>
    <!-- /.box-tools -->
  </div>
  <!-- /.box-header -->
  <div class="box-body">
  	<%= render 'form' %>

  <!-- box-footer -->
</div>
<!-- /.box -->

</div>

</div>
</div>
</section>
