
<section class="content">
<div class="row">
<div class="col-md-12">
<div class="box">
  <div class="box-header with-border">
    <h3 class="box-title">Exit Tickets</h3>
    <div class="box-tools pull-right">
      <!-- Buttons, labels, and many other things can be placed here! -->
         <%= link_to "New Exit Ticket" ,new_exit_ticket_path, :class => "btn btn-default btn-sm" %>
      <!-- Here is a label for example -->
    </div>
    <!-- /.box-tools -->
  </div>
  <!-- /.box-header -->
  <div class="box-body">
    <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
		<thead>
			<tr>
				<th>Exit Ticket Name</th>
				
			</tr>
		</thead>
		<tbody>
			<tr class="odd gradeX">
		  <% ExitTicket.all.each do |exit_ticket|%>
		  	<td><%= link_to exit_ticket.name, exit_ticket %> </td>
		    <td><%= link_to "Edit", edit_exit_ticket_path(exit_ticket), class: "label label-primary" %> <%=link_to "Delete", exit_ticket, method: :delete, data: {confirm: "You sure?"},class: "label label-danger" %></td>
		    
		</tr>
		<%end%>
		</tbody>
	</table>
  </div>

  <!-- box-footer -->
</div>
<!-- /.box -->

</div>

</div>
</section>


