<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title"><%= @exit_ticket.name%></h3>
          <div class="box-tools pull-right">
            <!-- Buttons, labels, and many other things can be placed here! -->
            <!-- Here is a label for example -->
            <%= link_to "Edit Exit Ticket", edit_exit_ticket_url(@exit_ticket),class: "btn btn-sm btn-primary" %>
          <%= link_to "Delete Exit Ticket",@exit_ticket,method: :delete, data:{confirm:"You sure?"},class: "btn btn-sm btn-danger" %>
          </div>
          <!-- /.box-tools -->
        </div>
        <!-- /.box-header -->
        <div class="box-body">
<%= render @questions %>
<div class="form-body">
<%= form_tag  exit_ticket_add_question_path(@exit_ticket), multipart: true do %>
	<div class="form-group">
  <%= text_field_tag :question_text, nil, placeholder:"Create New Question" , class: "form-control"%>
</div>
	<%= submit_tag "Add Question", class: "btn btn-primary" %>

</div>
<% end %>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
  </div>
</section>