<div class="form-group">
<%= f.label "Assignment" %>
<%= f.collection_select(:assignment_id, @self_work.assignments.all,:id, :name)%> 
</div>

<div class="form-group">
	<%= f.label "Score"%>
<%= f.number_field :grade_given , min:1 %>
</div>