<h3> <%= link_to submission.teacher.full_name, submission.teacher %></h3> 
<%if submission.percentage_complete.nil? %>
<%= "Work not done" %>
<%else %>
<p><strong>Percentage Complete: </strong><%= submission.percentage_complete %>%</p>
<p><strong>Time Taken: </strong><%= submission.time_taken %> min</p>
<% submission.assignment_grades.each do|grade|%>
	<p><strong><%= grade.assignment.name %> Score:</strong> <%=grade.grade_given%> </p>
	<%end%>
<%end%>
<%= link_to "Edit", edit_self_work_submission_path(@self_work,submission) , class: "label label-primary"%>  <%= link_to "Delete",self_work_submission_path(@self_work,submission), method: :delete,data: { confirm: "You sure?" }, class: "label label-danger" %> </p>

