<section class="content">
<div class="row">
<div class="col-md-12">
<div class="box">
  <div class="box-header with-border">
    <h3 class="box-title">Edit Submission</h3>
    <div class="box-tools pull-right">
      <!-- Buttons, labels, and many other things can be placed here! -->
      <!-- Here is a label for example -->
      
    </div>
    <!-- /.box-tools -->
  </div>
  <!-- /.box-header -->
  <div class="box-body">
   <%= form_for [@self_work,@school ,@submission] do |f| %>
	<div class="form-group">
	<h3 style="text-align:center"><%= @submission.teacher.full_name %></h3>
	</div>
		
	<div class="form-group">
		 <%= f.label :percentage_complete, "Percentage Complete" %>
		<%= f.number_field :percentage_complete,class: :teext_field, :step => 0.1, class: "form-control" %>
	</div>

	<div class="form-group">
		<%= f.label :time_taken, "Time Take" %>
		<%= f.text_field :time_taken , class: "form-control"%>
	</div>

	<div class ="assignment-grades">
		<%= f.fields_for :assignment_grades do |grade| %>
		<%= render 'assignment_grade_fields', :f => grade %>
		<%end%>
	</div>



	<%= f.submit "Update submission", class: "btn btn-primary" %>
<%end%>
  </div>
  <!-- /.box-body -->

</div>
<!-- /.box -->
</div>
</div>
</section>
