
<div class="form-body">
<%= form_for @programme_session do |f| %>  

	<div class="form-group">
		<%= f.label :programme_id, "Programme: " %>
		<%= f.collection_select(:programme_id, Programme.all,:id, :name,:prompt => 'Select Programme', class: "form-control")%>
	</div>

	<div class="form-group">
		<%= f.label :school_id, "School: " %>
		<%= f.collection_select(:school_id, School.all,:id, :name, class: "form-control", :prompt => 'Select School')%>
	</div>


  	<div class="form-group">
    	<%= f.label :profile_type, "Session Type:" %>
    	<%= f.select :profile_type, [['Self Work',"SelfWork"],[' Observation',"Observation"], ["In Person Training","InPerson"]], :prompt => 'Select Session Type', :required => true , class: "form-control"%>
  </div>


    <%= f.submit yield(:button_text), class: "btn btn-primary" %>

<% end %>
</div>
