<%provide(:button_text, "Change Session") %>
<section class="content">
	<div class="row">
		<div class="col-md-12">
			<div class="box">
				<div class="box-header with-border">
					<h3 class="box-title">Change Programme Session</h3>
					<div class="box-tools pull-right">
						<!-- Buttons, labels, and many other things can be placed here! -->
						<!-- Here is a label for example -->
						
					</div>
					<!-- /.box-tools -->
				</div>
				<!-- /.box-header -->
				<div class="box-body">
					<div class="form-group">
					<strong>Session Name: </strong><%= @programme_session.profile.name %></div>
					<div class="form-group"><strong>Session Type: </strong><%= view_type(@programme_session.profile_type) %></div>
					<div class="form-body">
						<%= form_for @programme_session do |f| %>
						<div class="form-group">
							<%= f.label :programme_id %>
							<%= f.collection_select(:programme_id, Programme.all,:id, :name)%>
						</div>
						<div class="form-group">
							<%= f.label :school_id %>
							<%= f.collection_select(:school_id, School.all,:id, :name)%>
						</div>
					</div>
					<div class="form-footer">
						<%= f.submit yield(:button_text), class: "btn btn-primary" %>
						<% end %>
					</div>
				</div>
				<!-- /.box-body -->
			</div>
			<!-- /.box -->
		</div>
	</div>
</section>