<section class="content">
<div class="row">
<div class="col-md-12">
<div class="box">
  <div class="box-header with-border">
    <h3 class="box-title">All Programme Sessions</h3>
    <div class="box-tools pull-right">
      <!-- Buttons, labels, and many other things can be placed here! -->
      <!-- Here is a label for example -->
      

 <%= link_to "Download CSV", programme_sessions_path(format: "csv"), class: "btn btn-default btn-sm" %>

 <%= link_to "Create Session", new_programme_session_path, :class => "btn btn-default btn-sm" %>
    </div>
    <!-- /.box-tools -->
  </div>
  <!-- /.box-header -->
  <div class="box-body">
            <div class="nav-tabs-custom">
              <ul class="nav nav-tabs">
                <li class="active"><a href="#session" data-toggle="tab">In Person Sessions</a></li>
                <li><a href="#selfwork" data-toggle="tab">Self Work Sessions</a></li>
                <li><a href="#observation" data-toggle="tab">Observations</a></li>
              </ul>
              <div class="tab-content">
                <div class="active tab-pane" id="session">
                  <table class="table table-bordered table-hover">
                    <thead>
                    </thead>
                    <% @in_person= InPerson.all%>
                   
                    
                    <tr>
                      <th>Date Done</th>
                      <th>School</th>
                      <th>Session Name</th>
                      <th>Programme Name</th>

                    </tr>
                    <tbody>
                      <% @in_person.each do |session| %>
                      <tr>
                        <td><%= session.date_done%></td>
                        <td><%= session.programme_session.school.name%></td>
                        <td><%= link_to session.name, session%></td>
                        <td><%= link_to session.programme_session.programme.name, session.programme_session.programme%></td>
                        
                      </tr>
                    </tbody>
                    <%end%>
                  </table>
                </div>
                <!-- /.tab-pane -->
                
                <div class="tab-pane" id="selfwork">
                  <table class="table table-bordered table-hover">
                    <thead>
                    </thead>                    
                    <tr>
                      <th>School</th>
                      <th>Session Name</th>
                      <th>Programme Name</th>
                    </tr>
                    <tbody>
                      <% SelfWork.all.each do |session| %>
               
                      <tr>
                        <td><%= session.programme_session.school.name%></td>
                        <td><%= link_to session.name, session%></td>
                        <td><%= link_to session.programme_session.programme.name, session.programme_session.programme%></td>
                      </tr>

                    <%end%>
                    </tbody>
                  </table>
                </div>
                <!-- /.tab-pane -->
                <div class="tab-pane" id="observation">
                  <table class="table table-bordered table-hover">
                    <thead>
                      <tr>
                        <th>School</th>
                        <th>Session Name</th>
                        <th>Programme Name</th>
                      </tr>
                    </thead>
						<tbody>
                    	<% Observation.all.each do |observation| %>
							<tr>
								<td><%= observation.programme_session.school.name%></td>
								<td><%= link_to observation.name, observation%></td>
								<td><%= link_to observation.programme_session.programme.name, observation.programme_session.programme%></td>
							</tr>
                  <%end%>
                    </tbody>
                  </table>
                </div>
                <!-- /.tab-pane -->
              </div>
              <!-- /.tab-content -->
              <!-- /.nav-tabs-custom -->
              
            </div>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
	
</div>

</div>
<!-- /.box -->
</div>


<!-- /.box -->
</div>
</section>





