<h1><%= @programme_session.profile.name %></h1>
<p>Programme Name: <%= @programme.name %></p>
<p>Session Type: <%= view_type(@programme_session.profile_type) %>

<p><%= link_to "Edit Session Details", edit_programme_session_path(@programme_session)%></p>
      <p> <%= link_to "Delete Session", @programme_session, method: :delete,
                                  data: { confirm: "You sure?" }  %>