<!-- Main content -->
<section class="content">
	<div class="row">
		<div class="col-md-4">
			<!-- Profile Image -->
			<div class="box box-default">
				<div class="box-body box-profile">
					
					<h3 class="profile-username text-center"><%= @self_work.name %></h3>
					<ul class="list-group list-group-unbordered">
						<li class="list-group-item">
							<b>Programme Name</b> <p class="pull-right"><%= @self_work.programme_session.programme.name %></p>
						</li>
						<li class="list-group-item">
							<b>School</b> <a class="pull-right"><%= @self_work.programme_session.school.name%></a>
						</li>
					</ul>
					<div class="box-footer clearfix">
						<div class="row no-print">
							<div class="col-xs-12">
								<%= link_to "Edit Session", edit_self_work_path(@self_work),class: "btn btn-sm btn-primary"%>
								<%= link_to "Change Programme", edit_programme_session_path(@self_work.programme_session),class: "btn btn-sm btn-primary" %>
								<%= link_to "Delete Session", @self_work,class: "btn btn-sm btn-danger", method: :delete,
								data: { confirm: "You sure?" }  %>
							</div>
						</div>
					</div>
				</div>
				<!-- /.box-body -->
			</div>

			<div class="box box-default">
				<div class="box-body box-profile">
					
					<h3 class="profile-username text-center">Import Submissions</h3>
							<%= form_tag import_self_work_submissions_path(@self_work,@submission), multipart: true do %>
	<%= file_field_tag :file %>
	<%= submit_tag "Import" %>
	<% end %>
					
				</div>
				<!-- /.box-body -->
			</div>
						<div class="box box-default">
				<div class="box-body box-profile">
					
					<h3 class="profile-username text-center">Assignments</h3>
					<% if @self_work.assignments.any?%>
						<div class= "teacher-submission">
							<%= render @assignments %>
						</div>
						<% end %>		
					
				</div>
				<!-- /.box-body -->
			</div>
			<!-- /.box -->
			<!-- About Me Box -->
		</div>
		<div class="col-md-8">
			<div class="box box-default">
				<div class="box-header with-border">
					<h3 class="box-title">Submissions Information</h3>
					<div class="box-tools pull-right">
						<!-- Buttons, labels, and many other things can be placed here! -->
						<!-- Here is a label for example -->
						<%= link_to "Add Submission", new_self_work_submission_path(@self_work),class: "btn btn-sm btn-default" %>
						<%= link_to "Add Assignment", new_self_work_assignment_path(@self_work), class: "btn btn-sm btn-default" %>
						<%= link_to "Download Submissions CSV", self_work_submissions_path(@self_work,format: "csv"), class: " btn btn-sm btn-default" %>
					</div>
				</div>
				<!-- /.box-header -->
				<div class="box-body">
					<div>
						<% if @self_work.submissions.any?%>
						<div class= "teacher-submission">
							<%= render @submissions %>
						</div>
						<% end %>
					</div>
				</div>
				<!-- /.box-body -->
			</div>
			<!-- /.box -->
			<!-- /.col -->
			
			
		</div>
		<!-- /.col -->
	</div>
	<!-- /.row -->
</section>