<div class="box-body">

  <div class="col-sm-12">
    <%= form_for(@teacher) do |f| %>
    <div class="form-group">
    	<%= f.label :full_name, "Full Name:" %>
    	<%= f.text_field :full_name ,class: "form-control" %>
    </div>
    <div class="form-group">  
    	<%= f.label :email, "Email:" %>
    	<%= f.email_field :email , class: "form-control"%>
    </div>
    <div class="form-group">
      <%= f.label :id_number, "ID Number:" %>
      <%= f.text_field :id_number, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :sace_no, "SACE Number:" %>
      <%= f.text_field :sace_no, class: "form-control" %>
    </div>
    <div class="form-group">
     	<%= f.label :school, "School:" %>
    	<%= f.collection_select(:school_id, School.all,:id, :name ,:prompt=>"Select School",class: "form-control")%>
    </div>

    <div class="form-group">
      <%= f.label :status, "Status:" %>
      <%= f.select :status, ["Full Time","Left School"], :prompt => 'Select Status', :required => true  ,class: "form-control"%>
    </div>
    <div class="form-group">   	
     	<%= f.label :phone, "Phone:" %>
    	<%= f.text_field :phone , class: "form-control"%>
    </div>
    <div class="form-group">
    	<%= f.label :grade, "Phase:" %>
      <%= f.select :grade,["Foundation","Intermediate","Intermediate/Senior","Senior","Senior/FET","FET","Other"],:prompt => 'Select Phase', class: "form-control"%>
    </div> 
    <div class="form-group">
    	<%= f.label :subject , "Subject:"%>
    	<%= f.text_field :subject, class: "form-control" %>
    </div>
       <div class="form-group">
      <%= f.label :qualification , "Qualification"%>
      <%= f.text_field :qualification, class: "form-control" %>
    </div>
       <div class="form-group">
      <%= f.label :university , "Insitutions"%>
      <%= f.text_field :university, class: "form-control" %>
    </div>
       <div class="form-group">
      <%= f.label :role , "Role"%>
      <%= f.text_field :role, class: "form-control" %>
    </div>
       <div class="form-group">
      <%= f.label :gender , "Gender"%>
      <%= f.text_field :gender, class: "form-control" %>
    </div>
       <div class="form-group">
      <%= f.label :years_of_teaching , "Years Teaching"%>
      <%= f.number_field :years_of_teaching, class: "form-control" %>
    </div>
       <div class="form-group">
      <%= f.label :age , "Age"%>
      <%= f.text_field :age, class: "form-control" %>
    </div>
       <div class="form-group">
      <%= f.label :communication , "Communication Preference"%>
      <%= f.text_field :communication, class: "form-control" %>
    </div>
    <%= f.submit yield(:button_text), class: "btn btn-primary" %>
    <% end %>
  </div>

</div>
