<p><%= link_to "Hide",@teacher, id: "hide" %>

<div id='stats' >
<div>
<h3>Facilitated Session Attendance </h3>
<% @teacher_attendances = Attendance.where(teacher: @teacher) %>
<% @teacher_attendances.each do |attendance| %>
  <hr />
  <h4><u><%= attendance.in_person.name %></u></h4>
  <p><strong>Date:</strong> <%= attendance.in_person.date_done %></p>
  <p><strong>Attendance: </strong><%= attendance.attendance_value %></p>

  <%end%>

</div>

<div>
<h3> Self Work Submissions </h3>
<% @teacher_submissions = Submission.where(teacher: @teacher) %>
<% @teacher_submissions.each do |submission| %>
<hr />
<p><u><%= submission.self_work.name %></u></p>
<p><strong>Percentage Complete: </strong><%= submission.percentage_complete%>%</p>
<p><strong>Time Taken: </strong><%= submission.time_taken %> min</p>
<%end %>

</div>

<div>
<h3> Observation Feedback</h3>
<% if !@teacher_feedbacks = Feedback.where(teacher: @teacher).empty? %>
<% @teacher_feedbacks = Feedback.where(teacher: @teacher) %>
<% criteria = @teacher.school.programmes.first.criteria.order(:id) %>
<% @teacher_feedbacks.each do |feedback|%>
<p><strong>Observation name: </strong><%= link_to feedback.observation.name, observation_feedback_path(feedback.observation,feedback)%></p>
<p><strong>Coach:</strong> <%=feedback.user.name %></p>
<p><strong>Date Done:</strong> <%=feedback.observation_done %></p>
<% if !feedback.takeaway.action_step.nil? %>
<p><strong>HLAS: </strong> <%= link_to feedback.takeaway.action_step.as_name,ActionStep.find_by(as_name:feedback.takeaway.action_step.as_name) %></p>

<% else %>
<p><strong>HLAS: </strong>No HLAS</p>
<%end%>
<%end%>
</div>

<div>
<h3>Observation Scores</h3>
<table class="table">
  <thead>
    <tr>
      <th>
        Techniques:
      </th>
      <%criteria.each  do |criterium| %>
      <th>
        <%=criterium.name%>
      </th>
      <%end%>
    </tr>
  </thead>
  <tbody>
  <% @teacher_feedbacks.each do |feedback|%>
    <tr>
      <td>
        <%=feedback.observation.name %>
      </td>
    <% criteria.each do |criterium| %>
      <td>
      <%if !feedback.scores.find_by(criterium: criterium).nil?%>
        <%=feedback.scores.find_by(criterium: criterium).score_value%>
      <%else%>
        -
      <%end%>
      </td>

      <%end%>
    </tr>
    <%end%>
  </tbody>
</table>
<%end%>
</div>
</div>
