<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">All Teachers</h3>
          <div class="box-tools pull-right">
            <!-- Buttons, labels, and many other things can be placed here! -->
            <!-- Here is a label for example -->
                        <p><%= link_to "Create Teacher", new_teacher_path ,:class => "btn btn-sm btn-default "%> <%= link_to "Download CSV", teachers_path(format: "csv"), class: "btn btn-sm btn-default" %> <%= link_to "Create Google Sheet ",  create_sheet_teachers_path , class: "btn btn-sm btn-default"%></p>
          </div>
          <!-- /.box-tools -->
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <%= will_paginate %>
          <table id="teachers_table" class="table table-bordered table-hover">
            <thead>
              <tr>
                <th>Name</th>
                <th>School</th>
                
                <th>Role</th>
                <th>Phone</th>
                <th>Email</th>
              </tr>
            </thead>
            <tbody>
              <% @teachers.order('full_name ASC').each do |teacher| %>
              <tr>
                <td><%= link_to teacher.full_name, teacher %></td>
                <td><%= teacher.school.name %>
                </td>
                <td><%= teacher.role%></td>
                <td> <%= teacher.phone%></td>
                <td><%=teacher.email%></td>
              </tr>
              <%end%>
              </tfoot>
            </table>
            <%= will_paginate %>
          </div>
          <!-- /.box-body -->
          <div class="box-footer">
            <p><%= link_to "Create Teacher", new_teacher_path ,:class => "btn btn-default "%> <%= link_to "Download CSV", teachers_path(format: "csv"), class: "btn btn-default" %> <%= link_to "Create Google Sheet ",  create_sheet_teachers_path , class: "btn btn-default"%></p>
          </div>
        </div>
        <!-- /.box -->
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="box">
          <div class="box-header with-border">
            <h3 class="box-title">Import Teachers</h3>
            <div class="box-tools pull-right">
              <!-- Buttons, labels, and many other things can be placed here! -->
              <!-- Here is a label for example -->
              
            </div>
            <!-- /.box-tools -->
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <%= form_tag import_teachers_path, multipart: true do %>
            <%= file_field_tag :file %>
            <%= submit_tag "Import" %>
            <% end %>
          </div>
          <!-- /.box-body -->
        </div>
      </div>
    </div>
  </section>
