</section>
<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-md-3">
      <!-- Profile Image -->
      <div class="box box-primary">
        <div class="box-body box-profile">
          
          <h3 class="profile-username text-center"><%= @teacher.full_name %></h3>
          <ul class="list-group list-group-unbordered">
            <li class="list-group-item">
              <b>Email</b> <a class="pull-right"><%= @teacher.email%></a>
            </li>
            <li class="list-group-item">
              <b>Phone Number</b> <a class="pull-right"><%=@teacher.phone%></a>
            </li>
            <li class="list-group-item">
              <b>Communication Preference</b> <a class="pull-right"><%= @teacher.communication%></a>
            </li>
            <li class="list-group-item">
              <b>School</b> <a class="pull-right"><%= @teacher.school.name%></a>
            </li>
            <li class="list-group-item">
              <b>Status</b><%=@teacher.status%> <a class="pull-right"></a>
            </li>
            <li class="list-group-item">
              <b>SACE</b> <a class="pull-right"><%=@teacher.sace_no%></a>
            </li>
          </ul>
          <div class="row no-print">
            
            <div class="col-xs-12">
              <%= link_to "Edit Teacher", edit_teacher_path(@teacher), class: "btn btn-sm btn-primary btn-flat" %> <%= link_to "Delete Teacher", @teacher,class: "btn btn-sm btn-danger btn-flat", method: :delete,
  data: { confirm: "You sure?" } %>
            </div>
          </div>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
      <!-- About Me Box -->
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Biographical Information</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <strong><i class="fa fa-book margin-r-5"></i> Education</strong>
          <p class="text-muted">
            <%=@teacher.qualification %>
            
            <%=@teacher.university %>
            
          </p>
          <hr>
          <strong><i class="fa fa-map-marker margin-r-5"></i> Gender and Age</strong>
          <p class="text-muted"><%=@teacher.gender %>, <%=@teacher.age %></p>
          <hr>
          <strong><i class="fa fa-pencil margin-r-5"></i> Current Role</strong>
          <p>
            <%=@teacher.grade %> ,<%=@teacher.subject %> and <%=@teacher.role %>
          </p>
          <hr>
          <strong><i class="fa fa-file-text-o margin-r-5"></i> History</strong>
          <p><%=@teacher.years_of_teaching %> Years teaching</p>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
    <!-- /.col -->
    <div class="col-md-9">
      <% programmes = @teacher.school.programmes %>
      <% programmes.all.each do |programme| %>
      <div class="row">
        <div class="box">
          <div class="box-header with-border">
            <h3 class="box-title"><%= programme.name%></h3>
            <div class="box-tools pull-right">
              <!-- Buttons, labels, and many other things can be placed here! -->
              <!-- Here is a label for example -->
              
            </div>
            <!-- /.box-tools -->
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <div class="nav-tabs-custom">
              <ul class="nav nav-tabs">
                <li class="active"><a href="#session" data-toggle="tab">Session attendance</a></li>
                <li><a href="#selfwork" data-toggle="tab">Self Work</a></li>
                <li><a href="#observation" data-toggle="tab">Observation</a></li>
              </ul>
              <div class="tab-content">
                <div class="active tab-pane" id="session">
                  <table class="table table-bordered table-hover">
                    <thead>
                    </thead>
                    <% @sessions = InPerson.programme(programme)%>
                    <% @sessions = @sessions.school(@teacher.school)%>
                    
                    <tr>
                      <th>Session Name</th>
                      <th>Session Attendance</th>
                    </tr>
                    <tbody>
                      <% @sessions.each do |session| %>
                      <tr>
                        <td><%= session.name%></td>
                        <td><%= Attendance.find_by(in_person: session,teacher: @teacher).attendance_value unless Attendance.find_by(in_person: session,teacher: @teacher).nil?%></td>
                      </tr>
                    </tbody>
                    <%end%>
                  </table>
                </div>
                <!-- /.tab-pane -->
                
                <div class="tab-pane" id="selfwork">
                  <table class="table table-bordered table-hover">
                    <thead>
                    </thead>
                    <% @sessions = SelfWork.programme(programme)%>
                    <% @sessions = @sessions.school(@teacher.school)%>
                    
                    <tr>
                      <th>Session Name</th>
                      <th>Self Work Percentage Complete</th>
                      <th>Time Taken</th>
                    </tr>
                    <tbody>
                      <% @sessions.each do |session| %>
                      <% submission = Submission.find_by(self_work:session,teacher:@teacher)%>
                      <tr>
                        <td><%= session.name%></td>
                        <td><%= submission.percentage_complete unless submission.nil?%></td>
                        <td><%= submission.time_taken unless submission.nil?%></td>

                      </tr>
                    </tbody>
                    <%end%>
                  </table>
                </div>
                <!-- /.tab-pane -->
                <div class="tab-pane" id="observation">
                  <% @teacher_feedbacks = Feedback.where(teacher: @teacher) %>
                  <% if !@teacher_feedbacks.empty?%>
                  <% @teacher_feedbacks = Feedback.where(teacher: @teacher) %>
                  <% criteria = @teacher.school.programmes.first.criteria.order(:id) %>
                  <% @teacher_feedbacks.each do |feedback|%>
                  <h4><strong>Observation name: </strong><%= link_to feedback.observation.name, observation_feedback_path(feedback.observation,feedback)%></h4>
                  <p><strong>Coach:</strong> <%=feedback.user.name %></p>
                  <p><strong>Date Done:</strong> <%=feedback.observation_done %></p>
                  
                  <%end%>
                  <%end%>
                   <% if !criteria.nil? %>
                  <h3>Observation Scores</h3>
                  <table class="table table-bordered table-hover">
                    <thead>
                      <tr>
                        <th>
                          Techniques:
                        </th>
                        <% @teacher_feedbacks.each do |feedback| %>
                        <th>
                          <%=feedback.observation.name%>
                        </th>
                        <%end%>
                      </tr>
                    </thead>
                    <tbody>

                      <% criteria.each do |criterium| %>
                      <tr>
                        <td><%= criterium.name %></td>
                        <% @teacher_feedbacks.each do |feedback|%>
                        <td><%= Score.find_by(criterium: criterium, feedback: feedback).score_value unless  Score.find_by(criterium: criterium, feedback: feedback).nil? %></td>
                        <%end%>
                      </tr>
                      <%end%>
                      
                    </tbody>
                  </table>
                  <%end%>
                </div>
                <!-- /.tab-pane -->
              </div>
              <!-- /.tab-content -->
              <!-- /.nav-tabs-custom -->
              
            </div>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
      <%end%>
      <!--row-->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->