<div class="row">
<div class="col-md-6">	
<div class="form-group">
	<%= f.label "Action Step Category", class: "form-control" %>
	<%= f.text_field :name, class: "form-control" %>
</div>
</div>

<div class="col-md-6">
<div class="form-group">
	<%= f.label "Action Step", class: "form-control" %>
	<%= f.collection_select(:action_step_id, ActionStep.all ,:id, :as_name,{include_blank: 'Select a Action Step'},class: "form-control")%>
</div>
</div>
</div>