<div class="form-body">
    
    <%= form_for [@observation, @feedback] do |f| %>
        <div class="form-group">
            <%= f.label "Date and time of Observation" %>
            <%= f.datetime_field :observation_done ,class: 'form-control'%>
        </div>
        <div class="form-group">
            <%= f.label "Observation done by" %>
            <%= f.collection_select(:user_id, User.all,:id, :name,{include_blank: 'Select a Facilitator'},class: "form-control") %>
        </div>
        <div class="form-group">
            <%= f.label :teacher, "Teacher" %>
            <% school = @observation.programme_session.school%> 
            <% teachers = school.teachers.order(:full_name) %>   
            
            <%= f.collection_select(:teacher_id, teachers ,:id, :full_name,{include_blank: 'Select a Teacher'},class: 'form-control')%>
        </div>
    
    <h4> Learner Engagement </h4>
    
<div class="col-md-12">    
<div class="row">
    <p>First Half of Lesson</p>
<div class="col-md-3">
    <div class="form-group">
        <%= f.label :first_offtask, "Learner Off-Task"%>
        <%= f.number_field :first_offtask,class: 'form-control' %>
    </div>
</div>
    
   <div class="col-md-3">
    <div class="form-group">
        <%= f.label :first_ontask, "Learner On Task" %>
        <%= f.number_field :first_ontask,class: 'form-control' %>
    </div>  
</div>
    
</div>  
</div>  
<div class="col-md-12">
<div class="row">    
    <p>Second Half of Lesson</p>
  <div class="col-md-3">
    <div class="form-group">
        <%= f.label :second_offtask, "Learner off-task"%>
        <%= f.number_field :second_offtask,class: 'form-control' %>
    </div>
</div>
    
    <div class="col-md-3">
    <%= f.label :second_ontask , "Learner On Task"%>
    <%= f.number_field :second_ontask,class: 'form-control' %>
    </div>
</div>
</div>
    <h4> Scores </h4>
    <%= f.fields_for :scores do |score| %>
    <div class="row">
        <div class="form-group">
            <div class="col-md-3">
    <%= f.label score.object.criterium.category.name %>
    
    <%= score.object.criterium.name %>
</div>
    
    <%= render 'score_fields', :f => score %>
</div>
    </div>
    <%end%>




    <h4>Precise Positives</h4>

    <%= f.label "What the teacher did that was effective" %>
    <%= f.text_area :pp_effective_1, class: 'form-control' %>
    <%= f.text_area :pp_effective_2, class: 'form-control' %>
    <%= f.label "What Positive impact that it had on the learners" %>
    <%= f.text_area :pp_impact_1 ,class: 'form-control'%>
    <%= f.text_area :pp_impact_2 ,class: 'form-control'%>
    <h4>Biggest Takeaway</h4>
    <div class="form-group">
    <%= f.fields_for :takeaway do |t| %>
    <%= render 'take_fields', :f => t %>
    <%end%>
        
    </div>
    

    <%= f.submit yield(:button_text), class: "btn btn-primary" %>
    <%end%>
</div>