<p>This is a tool used for observing teachers in the classroom. The first page is an explanation as to how the table should be used following that is the tool which should be filled in for each individual participant. </p>

<h3>How the scoring works:</h3>

<h4>UNCONSCIOUSLY UNSKILLED</h4>
<table>
	<tbody>
		<tr>
			<td>Observation: </td>
			<td>Teacher is not aware of or able to attend to the problem.</td>
		</tr>
		<tr>
			<td>Feedback:</td>
			<td>It is important that the teacher understands the concept that should be used and plans to use it accordingly.</td>
		</tr>
	</tbody>
</table>

		

<h4>CONSCIOUSLY UNSKILLED</h4>
<table>
<tbody>
	<tr>
		<td>Observation:</td> 		
		<td>The teacher has recognised what is not going well and has attempted to fix the problem.</td>
	</tr>
	<tr>
		<td>Feedback:</td>		
		<td>The teacher does not know how to use the concept to fix the problem.</td>
	</tr>
</tbody>
</table>
<h4>CONSCIOUSLY SKILLED</h4>
<table>
<tbody>
	<tr>
		<td>Observation:</td> 		
		<td>The teacher has recognised what the problem is and has taken actions to fix it.</td>
	</tr>
	<tr>
		<td>Feedback:</td>		
		<td>The teacher needs to practise implementing the concept.</td>
	</tr>
</tbody>
</table>
<h4>UNCONSCIOUSLY SKILLED</h4>
<table>
<tbody>
	<tr>
		<td>Observation:</td> 		
		<td>Everything has been achieved correctly. </td>
	</tr>
	<tr>
		<td>Feedback:</td>		
		<td>The teacher knows and understands the concept as well as teach it.</td>
	</tr>
</tbody>
</table>


<h3>Instructions for completing the table and giving feedback</h3>

<p>The middle column is what you should provide feedback on
At least 1 and no more than 2 positive areas (+) and same for grow (^)
Your feedback should include comments on teacher actions as well as corresponding learner responses to those actions</p>