
	<div class = "col-md-2">
		<%= f.label "Score"%>
		<%= f.number_field :score_value , min:0, class: 'form-control'%>
	</div>
	<div class = col-md-6>
		<%= f.label "Score Notes" %>
		<%= f.text_area :score_notes, class: 'form-control'%>
	</div>

