<%provide(:button_text, "Create Feedback") %>
<h1>Accelerator Programme Diagnostic Table </h1>
<section class="content">
	<div class="row">
		<div class="col-md-12">
			<div class="box box-default">
				<div class="box-header with-border">
					<h3 class="box-title">How the scoring works:</h3>
					<div class="box-tools pull-right">
						<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
						</button>
						<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
					</div>
				</div>
				<!-- /.box-header -->
				<div class="box-body">
					
					<%= render "instructions" %>
					<!-- /.table-responsive -->
				</div>
				<!-- /.box-body -->
			</div>
			<div class="box box-default">
				<div class="box-header with-border">
					<h3 class="box-title">Feedback Form</h3>
					<div class="box-tools pull-right">
						<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
						</button>
						<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
					</div>
				</div>
				<!-- /.box-header -->
				<div class="box-body">
					
					<%= render "form" %>
					<!-- /.table-responsive -->
				</div>
				<!-- /.box-body -->
			</div>
			
		</div>
	</div>
</section>