<section class="content">
	<div class="row">
		<div class="col-md-12">
			<h1><%= @observation.name%> Observation Feedback</h1>
			<div class="box">
				<div class="box-header with-border">
					<h3 class="box-title"><%= @feedback.teacher.full_name unless @feedback.teacher.nil?%></h3>
					
					<div class="box-tools pull-right">
						<!-- Buttons, labels, and many other things can be placed here! -->
						<!-- Here is a label for example -->
						<%= link_to "Edit Feedback",edit_observation_feedback_path(@observation,@feedback), class: "btn btn-sm btn-default"%>
						<%= link_to "Back to Observation", observation_path(@observation), class: "btn btn-sm btn-default" %>
						<%= link_to "Delete Feedback", observation_feedback_path(@observation,@feedback), method: :delete,class: "btn btn-sm btn-danger",
						data: { confirm: "You sure?" }  %>
						
					</div>
					<!-- /.box-tools -->
				</div>
				<!-- /.box-header -->
				<div class="box-body">
					
					<p><strong>Observation was done: </strong><%= @feedback.observation_done %></p>
					<p><strong>Facilitator: </strong><%= @feedback.user.name unless @feedback.user.nil? %></p>
						<h3>Precise Positives</h3>
						<p><strong>What the teacher did that was effective?</strong></p>
						<p><%= @feedback.pp_effective_1 %></p>
						<p><strong> </strong><%= @feedback.pp_effective_2 %></p>
						<p><strong>What the positive impact that it has on the learners</strong></p>
						<p><strong> </strong><%= @feedback.pp_impact_1 %></p>
						<p><strong> </strong><%= @feedback.pp_impact_2 %></p>
				</div>
			</div>
				
<!-- /.box -->


<div class="box">
	<div class="box-header with-border">
		<h3 class="box-title">Learner Engagement</h3>
		<div class="box-tools pull-right">
			<!-- Buttons, labels, and many other things can be placed here! -->
			<!-- Here is a label for example -->
			
		</div>
		<!-- /.box-tools -->
	</div>
	<!-- /.box-header -->
	<div class="box-body">
		<div class = "row">
			<p>First Half</p>
			<div class="col-md-1">
				<p><strong>Learner off-task</strong></p>
			</div>
			<div class="col-md-2">
				<p><%= @feedback.first_offtask %></p>
			</div>
			<div class="col-md-1">
				<p><strong>Learner on-task</strong></p>
			</div>
			<div class="col-md-2">
				<p><%= @feedback.first_ontask %></p>
			</div>
		</div>
		<div class = "row">
			<p>Second Half</p>
			<div class="col-md-1">
				<p><strong>Learner off-task</strong></p>
			</div>
			<div class="col-md-2">
				<p><%= @feedback.second_offtask %></p>
			</div>
			<div class="col-md-1">
				<p><strong>Learner on-task</strong></p>
			</div>
			<div class="col-md-2">
				<p><%= @feedback.second_ontask %></p>
			</div>
		</div>
	</div>
	<!-- /.box-body -->
</div>
<!-- /.box -->


<div class="box">
	<div class="box-header with-border">
		<h3 class="box-title">Scores</h3>
		<div class="box-tools pull-right">
			<!-- Buttons, labels, and many other things can be placed here! -->
			<!-- Here is a label for example -->
			
		</div>
		<!-- /.box-tools -->
	</div>
	<!-- /.box-header -->
	<div class="box-body">
		<% if !@feedback.scores.nil? %>
		<div>
			<div class ="row">
				<div class ="col-md-8">
					<table class="table-responsive">
						<thead>
							<tr>
								<th width="20%">Category</th>
								<th width="20%">Criterion</th>
								<th width="15%">Possible score</th>
								<th width="15%">Score</th>
								<th width="30%">Score Notes</th>
							</tr>
						</thead>
						<tbody>
							<% @feedback.scores.each do |score| %>
							<tr>
								<td width="20%"><%= score.criterium.category.name %></td>
								<td width="20%"><%= score.criterium.name %></td>
								<td width="15%"><%= score.criterium.possible_score%></td>
								<td width="15%"><%= score.score_value %></td>
								<td width="30%"><%= score.score_notes %></td>
							</tr>
							<%end%>
						</tbody>
					</table>
					<%end%>
				</div>
			</div>
		</div>
	</div>
	<!-- /.box-body -->
</div>
<!-- /.box -->

<div class="box">
	<div class="box-header with-border">
		<h3 class="box-title">Biggest Takeaway</h3>
		<div class="box-tools pull-right">
			<!-- Buttons, labels, and many other things can be placed here! -->
			<!-- Here is a label for example -->
			
		</div>
		<!-- /.box-tools -->
	</div>
	<!-- /.box-header -->
	<div class="box-body">
		<div class="biggest-takeaway">
			<% if !@feedback.takeaway.nil? %>
			<% @feedback.takeaway.as_categories.all.each do |as_categories| %>
			<p><strong><%=as_categories.name%></strong> </p>
			<% if !as_categories.action_step.nil?%>
			<p><%=as_categories.action_step.as_name%></p>
			<%end%>
			<%end%>
			<%end %>
		</div>
	</div>
	<!-- /.box-body -->
</div>
<!-- /.box -->

<div class="box">
  <div class="box-header with-border">
    <h3 class="box-title">Add new score</h3>
    <div class="box-tools pull-right">
      <!-- Buttons, labels, and many other things can be placed here! -->
      <!-- Here is a label for example -->
      
    </div>
    <!-- /.box-tools -->
  </div>
  <!-- /.box-header -->
  <div class="box-body">
  	<div class="form-group">
	<%= form_tag  observation_feedback_add_score_path(@observation, @feedback), multipart: true do %>
  	<div class="col-md-3">
  	<div class="form-group">
  		<%= label_tag :criterium, "Instructional Technique", class: "form-control"%>
  	<%=select_tag "criterium",options_from_collection_for_select(@programme.criteria, "id", "name", class: "form-control")%>
  </div>
</div>
  	<div class="col-md-3">
  	<div class="form-group">
  		<%= label_tag :score_value, "Score Value: ", class: "form-control"%>
  	<%= number_field_tag :score_value , class: "form control"%>
  </div>
</div>
  	<div class="col-md-3">
  	<div class="form-group">
  		<%= label_tag :score_notes, "Score Notes" , class: "form-control"%>
  	<%= text_area_tag :score_notes %> 
  </div>
</div>
<div class="form-footer">
  	<%= submit_tag "Add Score", class: "btn btn-primary" %>
  </div>
  </div>
<% end %>
  </div>
  <!-- /.box-body -->

</div>
<!-- /.box -->
</div>
</div>
</section>
