<div class="form-body">
<%= form_for(@school) do |f| %>
<div class="form-group">
  <%= f.label :name %>
  <%= f.text_field :name, class: 'form-control' %>
</div>
<div class="form-group">
  <%= f.label :address %>
  <%= f.text_field :address, class: 'form-control' %>
</div>
<%= hidden_field_tag "school[programme_ids][]", nil %>
<% Programme.all.each do |programme| %>
<div class="form-group">
  <div class="checkbox">
    
    <%= check_box_tag "school[programme_ids][]", programme.id, @school.programme_ids.include?(programme.id), id: dom_id(programme) %>
    <%= label_tag dom_id(programme), programme.name %>
    
    
  </div>
</div>
<%end%>
<%= f.submit yield(:button_text), class: "btn btn-primary" %>

<% end %>
</div>