<section class="content">
<div class="row">
<div class="col-md-12">
<div class="box">
  <div class="box-header with-border">
    <h3 class="box-title">All Schools</h3>
    <div class="box-tools pull-right">
      <!-- Buttons, labels, and many other things can be placed here! -->
      <!-- Here is a label for example -->
       <%= link_to "Create School", new_school_path ,:class => "btn btn-sm btn-default"%>
    </div>
    <!-- /.box-tools -->
  </div>
  <!-- /.box-header -->
  <div class="box-body">
  	<ul>
   <% @schools = @schools.where.not(name: "No School")%>
  <% @schools.each do |school| %>
    <li>
      <%= link_to school.name, school %> </tab> (<%= school.teachers.count %>)
    </li>
  <% end %>
</ul>
  </div>
  <!-- /.box-body -->
<div class="box-footer">
	 
</div>

</div>
<!-- /.box -->
</div>
</div>
<div class="row">
<div class="col-md-12">
<div class="box">
  <div class="box-header with-border">
    <h3 class="box-title">Import Schools</h3>
    <div class="box-tools pull-right">
      <!-- Buttons, labels, and many other things can be placed here! -->
      <!-- Here is a label for example -->
      
    </div>
    <!-- /.box-tools -->
  </div>
  <!-- /.box-header -->
  <div class="box-body">
  	<div class="form-body">
		<%= form_tag import_schools_path, multipart: true do %>
  		<%= file_field_tag :file %>
	</div>
	<div class="form-footer">
  		<%= submit_tag "Import" %>
	<% end %>
  	</div>
  </div>
  <!-- /.box-body -->

</div>
<!-- /.box -->
</div>
</div>
</section>




