<% provide(:title, @school.name) %>
<section class="content-header">
</section>
<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-md-3">
      <!-- Profile Image -->
      <div class="box box-default">
        <div class="box-body box-profile">
          
          <h3 class="profile-username text-center"><%= @school.name%></h3>
          <ul class="list-group list-group-unbordered">
            <li class="list-group-item">
            <b>Address: </b> <%= @school.address%></li>
          </ul>
          
          <div class="row no-print">
            <div class="col-xs-12">
              <%= link_to "Edit School", edit_school_path(@school),class: "btn btn-sm btn-primary btn-flat"%>
              <%= link_to "Delete School", @school,class: "btn btn-sm btn-danger btn-flat", method: :delete,
              data: { confirm: "You sure?" }  %>
            </div>
          </div>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
      <!-- About Me Box -->
      
      <div class="box box-default">
        <div class="box-header with-border">
          <h3 class="box-title">Instill Programmes</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <% programmes = @school.developments.all %>
          <% programmes.each do |p| %>
          <% conversation = @school.conversations.find_by(programme:p)%>
          <h3></h3>
          
         
          <strong><i class="fa fa-book margin-r-5"></i><%= link_to p.programme.name, p.programme %></strong>
          <p class="text-muted">
            <p><strong>Conversations:</strong></p>
            <% conversations = @school.conversations.where(programme:p.programme) %>
            <% if !conversations.empty? %>
            <% conversations.order(:month).all.each do |conversation| %>
          <%= conversation.month %> <%= conversation.status %> <%= link_to "Edit",edit_school_conversation_path(@school,conversation), class: "label label-primary"%> <%= link_to "Delete", school_conversation_path(@school),class: "label label-danger", method: :delete,
              data: { confirm: "You sure?" }  %> </p>
          <%end%>
          <% else %>
          <%end%>
        </p>
        <%end%>
           <p><%= link_to "Create Conversation", new_school_conversation_path(@school), class: "btn btn-sm btn-default" %></p>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
  </div>
  <!-- /.col -->
  
  <div class="col-md-9">
    <div class="row">
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">Teachers (<%=@school.teachers.all.length %>)</h3>
          <div class="box-tools pull-right">
            <!-- Buttons, labels, and many other things can be placed here! -->
            <!-- Here is a label for example -->
            <%= link_to "Add Teacher", new_teacher_path,class: "btn btn-sm btn-default btn-flat"%>
            <%= link_to "CSV", teachers_path(format: "csv"), class: "btn btn-sm btn-default btn-flat" %>
            Prefer SMS: <%= link_to "SMS to Sheet", create_sheet_sms_schools_path(@school),class: "btn btn-sm btn-default btn-flat" %>
            Prefer Email: <%= link_to "Email to Sheet", create_sheet_email_schools_path(@school),class: "btn btn-sm btn-default btn-flat"%>
          </div>
          <!-- /.box-tools -->
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <%= will_paginate (@teachers)%>
          <table class="table table-bordered table-hover">
            <thead>
              <th>Name</th>
              <th>Email</th>
              <th>Phone</th>
              <th>Status</th>
              <th>Grades</th>
            </thead>
            <% @school.teachers.all.each do |teacher| %>
            <tr>
              <td><%= link_to teacher.full_name, teacher %></td>
              <td><%=teacher.email %></td>
              <td><%=teacher.phone %></td>
              <td><%=teacher.status %></td>
              <td><%=teacher.grade%></td>
              
            </tr>
            <% end %>
          </table>
          <!-- /.tab-content -->
        </div>
      </div>
    </div>
    <div class="row">
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title"><%= @school.name%> Sessions</h3>
          <div class="box-tools pull-right">
            <!-- Buttons, labels, and many other things can be placed here! -->
            <!-- Here is a label for example -->
            
          </div>
          <!-- /.box-tools -->
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#session" data-toggle="tab">In Person Sessions</a></li>
              <li><a href="#selfwork" data-toggle="tab">Self Work Sessions</a></li>
              <li><a href="#observation" data-toggle="tab">Observation Session</a></li>
            </ul>
            <div class="tab-content">
              <div class="active tab-pane" id="session">
                <% @school.programme_sessions.where(profile_type: "InPerson").each do |self_work| %>
                <p><%= link_to self_work.profile.name, self_work.profile %></p>
                <%end%>
                
              </div>
              <!-- /.tab-pane -->
              
              <div class="tab-pane" id="selfwork">
                <!-- The timeline -->
                <% @school.programme_sessions.where(profile_type: "SelfWork").each do |self_work| %>
                <p><%= link_to self_work.profile.name, self_work.profile %></p>
                <%end%>
              </div>
              <!-- /.tab-pane -->
              <div class="tab-pane" id="observation">
                <% @school.programme_sessions.where(profile_type: "Observation").each do |self_work| %>
                <p><%= link_to self_work.profile.name, self_work.profile %></p>
                <%end%>
              </div>
              <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
          </div>
        </div>
      </div>
    </div>
    
    
    <!-- /.nav-tabs-custom -->
  </div>
  <!-- /.col -->
</div>
<!-- /.row -->
</section>