<div class= "form-body">
   
      <%= form_for [@programme, @category] do |f| %>

   <div class="form-group">
  	 <%= f.label :name %>
  	 <%= f.text_field :name , class: "form-control"%>
  	</div>



    <%= f.submit yield(:button_text), class: "btn btn-primary" %>

  <% end %>
</div>

</div>