<h1>All Instructional Areas</h1>

<ul>
	<% @programme.categories.each do |category| %>
	<li>
		<%= link_to category.name, programme_category_path(@programme,category) %>
	</li>
	<%end%>
</ul>
<%= link_to "Create Category", new_programme_category_path, :class => "btn btn-default btn-lg" %>