<section class="content">
<div class="row">
<div class="col-md-12">
<div class="box">
  <div class="box-header with-border">
    <h3 class="box-title"><%= @category.name %></h3>
    <div class="box-tools pull-right">
      <!-- Buttons, labels, and many other things can be placed here! -->
      <!-- Here is a label for example -->
      <%= link_to "Export Area CSV", programme_category_criteria_path(@programme,@category,format: "csv"), class: "btn btn-sm btn-default" %>
      <%= link_to "Back to Programme", @programme, class: "btn btn-sm btn-default" %>
	<%= link_to  "Edit Area", edit_programme_category_path(@programme,@category),class: "btn btn-sm btn-default"%>
  <%= link_to link_to "Delete Area", programme_category_path(@programme,@category), method: :delete,
              data: { confirm: "You sure?" },class: "btn btn-sm btn-danger"  %>
  <%= link_to  "Create Technique", new_programme_category_criterium_path(@programme, @category) ,class: "btn btn-sm btn-default"%>
    <!-- /.box-tools -->
  </div>
  <!-- /.box-header -->
  <div class="box-body">
   <h2>Instructional Techniques</h2>
	<table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
		<thead>
			<tr>
				<th>Name</th>
				<th>Focus Points</th>
				<th>Possible Score</th>
			</tr>
		</thead>
		<tbody>
			<tr class="odd gradeX">
			<%= render @criteria %>
		</tr>
		</tbody>
		</table>
  </div>
  <!-- /.box-body -->


</div>
<!-- /.box -->
</div>
</div>
</section>
<div class="col-md-12">
<div class="box">
  <div class="box-header with-border">
    <h3 class="box-title">Import Instructional Teachniques</h3>
    <div class="box-tools pull-right">
      <!-- Buttons, labels, and many other things can be placed here! -->
      <!-- Here is a label for example -->
      
    </div>
    <!-- /.box-tools -->
  </div>
  <!-- /.box-header -->
  <div class="box-body">
   <%= form_tag import_programme_category_criteria_path(@programme, @category), multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>

  </div>
  <!-- /.box-body -->

</div>
<!-- /.box -->
</div>
	


	
</div>