<div class="form-body">
<%= form_for(@in_person) do |f| %>  
	<div class="form-group">
		<%= f.label :name %>
		<%= f.text_field :name, class: 'form-control' %>
	</div>

	<div class="form-group">
		<%= f.label :date_done %>
		<%= f.date_field :date_done, class: 'form-control' %>
	</div>


	<div class="form-group">
		<%= f.label :scheduled_date %>
		<%= f.date_field :scheduled_date, class: 'form-control' %>
	</div>
	
	<div class="form-group">
		<%= f.label :scheduled_duration %>
		<%= f.number_field :scheduled_duration, class: 'form-control' %>
	</div>
	<div class="form-group">
		<%= f.label :actual_duration %>
		<%= f.number_field :actual_duration, class: 'form-control' %>
	</div>


  	<div class="form-group">
    	<p><%= f.label :in_person_type, "Category:" %></p>
    	<%= f.select :in_person_type, ['Term Intensive', 'Facilitated Session','Co-Facilitated Session'], :prompt => '-- Select One --', :required => true, class: 'form-control' %>
  	</div>

  	<div class="form-group">
  		<%= f.label :expected_attendance %>
  		<%= f.number_field :expected_attendance, class: 'form-control' %>
  	</div>

    <%= f.submit yield(:button_text), class: "btn btn-primary" %>

<% end %>
</div>