<section class="content">
  <div class="row">
    <div class="col-md-4">
      <!-- Profile Image -->
      <div class="box box-default">
        <div class="box-body box-profile">
          
          <h3 class="profile-username text-center"><%= @in_person.name%></h3>
          <ul class="list-group list-group-unbordered">
            <li class="list-group-item">
              <b>Scheduled Date</b> <p class="pull-right"><%= @in_person.scheduled_date %></p>
            </li>
            <li class="list-group-item">
              <b>Date Done</b> <p class="pull-right"><%= @in_person.date_done %></p>
            </li>
            <li class="list-group-item">
              <b>Session Type</b> <p class="pull-right"><%= @in_person.in_person_type %></p>
            </li>
            <li class="list-group-item">
              <b>Expected Attendance</b> <p class="pull-right"><%= @in_person.expected_attendance %></p>
            </li>
            <li class="list-group-item">
              <b>Scheduled Duration</b> <p class="pull-right"><%= @in_person.scheduled_duration %></p>
            </li>
            <li class="list-group-item">
              <b>Actual Duration</b> <p class="pull-right"><%= @in_person.actual_duration %></p>
            </li>
            <li class="list-group-item">
              <b>Programme Name</b> <p class="pull-right"><%= @in_person.programme_session.programme.name %></p>
            </li>
            <li class="list-group-item">
              <b>School</b> <p class="pull-right"><%=link_to @in_person.programme_session.school.name,
              @in_person.programme_session.school %></p>
            </li>
          </ul>
          <%= @in_person.actual_duration %>
          <div class="box-footer clearfix">
            <div class="row no-print">
              <div class="col-xs-12">
                <%= link_to "Edit Session", edit_in_person_path(@in_person),class: "btn btn-sm btn-primary"%>
                <%= link_to "Change Programme", edit_programme_session_path(@in_person.programme_session),class: "btn btn-primary btn-sm"%>
                <%= link_to "Delete Session", @in_person, method: :delete,data: { confirm: "You sure?" },class: "btn btn-danger btn-sm"  %>
              </div>
            </div>
          </div>
        </div>
        <!-- /.box-body -->
      </div>
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">Import Attendances</h3>
          <div class="box-tools pull-right">
            <!-- Buttons, labels, and many other things can be placed here! -->
            <!-- Here is a label for example -->
            
          </div>
          <!-- /.box-tools -->
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <%= form_tag import_in_person_attendances_path(@in_person), multipart: true do %>
          <%= file_field_tag :file %>
          <%= submit_tag "Import" %>
          <% end %>
        </div>
        <!-- /.box-body -->
      </div>
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">Create Attendances</h3>
          <div class="box-tools pull-right">
            <!-- Buttons, labels, and many other things can be placed here! -->
            <!-- Here is a label for example -->
            
          </div>
          <!-- /.box-tools -->
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <p> Create single attendance </p>
          
          <%= form_tag in_person_create_attendance_path(@in_person), multipart: true do %>

          <% teachers_array = Teacher.school(@school).all.map{|teacher|[teacher.full_name,teacher.id]}%>
          <%= select_tag :teacher_id,options_for_select(teachers_array),:prompt =>"Select teacher" %> 
          <%= submit_tag "Create" %>
          <% end %>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
      <!-- /.box -->
      <!-- About Me Box -->
    </div>
    <div class="col-md-8">
      <div class="box box-default">
        <div class="box-header with-border">
          <h3 class="box-title">Attendances</h3>
          <div class="box-tools pull-right">
            <!-- Buttons, labels, and many other things can be placed here! -->
            <!-- Here is a label for example -->
            <%= link_to "Attendances CSV", in_person_attendances_path(@in_person,format: "csv"), class: "btn btn-sm btn-default" %>
          </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <%= form_tag edit_multiple_in_person_attendances_path(@in_person), method: :get do %>
          <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
            <thead>
              <th></th>
            </thead>
            <tbody>
              
              <%= render @attendances %>
              
            </tbody>
          </table>
          
          <div class="buttons">
            <%= submit_tag "Edit All",class: "btn btn-primary btn-sm"%>
            <%end%>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">Exit Ticket Answers</h3>
          <div class="box-tools pull-right">
            <!-- Buttons, labels, and many other things can be placed here! -->
            <!-- Here is a label for example -->
            <div class="form-body">
              <%= form_tag in_person_add_exit_ticket_path(@in_person), multipart: true do %>
              <% exit_ticket_array = ExitTicket.all.map{|exit_ticket|[exit_ticket.name,exit_ticket.id]}%>
              <%= select_tag(:exit_ticket_id, options_for_select(exit_ticket_array),:prompt=>"Select Exit Ticket") %>
              <%= submit_tag "Add Exit Ticket" %>
              <%end%>
            </div>
            
          </div>
          <!-- /.box-tools -->
        </div>
        <!-- /.box-header -->
        <div class="box-body">
        <% if !@in_person.exit_ticket.nil?%>
          <h3><%= @in_person.exit_ticket.name%></h3>
          <% @exit_ticket_answers.each do |answer|%>
          <p><%= answer.question.question_text unless answer.question.nil? %>
          <%= answer.percentage_correct%>% </p>
          <%end%>
          
          <%= link_to "Edit Answers", edit_all_in_person_exit_ticket_answers_path(@in_person),class: "btn btn-primary" %>
        <%end%>
        </div>
        
        
        
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
      
      
    </div>
    <!-- /.col -->
  </div>
  
  <!-- /.row -->
</section>