<tr>
<td><%= link_to attendance.teacher.full_name, attendance.teacher%></td>
<td><%= attendance.teacher.role%></td>
<%if attendance.attendance_value.nil? ||attendance.attendance_value.empty? %>
<td><%= "Not Determined" %></td>
<%else %>
<td><%= attendance.attendance_value %></td>
<%end%>
<td><%= link_to "Delete",in_person_attendance_path(@in_person,attendance), method: :delete,data: { confirm: "You sure?" }, class: "label label-danger"  %></td>
</tr>

