<%= form_for [@in_person,@school ,@attendance], remote: true do |f| %>
	<div>
	<%= @attendance.teacher.full_name %> 
	</div>
		
	<div>
		<%= f.label :attendance_value, "Attendance" %>
		<%= f.select :attendance_value, ["Present", "Late", "Absent"] %>
	</div>
	<%= f.submit "Update attendance", class: "btn btn-primary" %>
<%end%>