<section class="content">
<div class="row">
<div class="col-md-12">
<div class="box">
  <div class="box-header with-border">
    <h3 class="box-title">Edit all Teacher</h3>
    <div class="box-tools pull-right">
      <!-- Buttons, labels, and many other things can be placed here! -->
      <!-- Here is a label for example -->
      
    </div>
    <!-- /.box-tools -->
  </div>
  <!-- /.box-header -->
  <div class="box-body">
   <%= form_tag update_multiple_in_person_attendances_path(@in_person),method: :put do%>
	<% @attendances.each do |attendance|%>
		<%= fields_for "attendances[]", attendance do |f|%>

			<p><%= attendance.teacher.full_name %> <%= f.select :attendance_value, ["Present", "Late", "Absent"], :include_blank => true ,class: 'form-control'%></p>
			


		<%end%>
				
<%end%>
<%= submit_tag "Update attendance", class: "btn btn-primary" %>

<%end%>
  </div>
  <!-- /.box-body -->


</div>
<!-- /.box -->
</div>
</div>
</section>