<h1>New Attendance</h1>
<%= form_for [@in_person,@school ,@attendance] do |f| %>
<div class="row">
  <div class="col-md-6 col-sm-6 col-md-offset-3">
	<%= f.collection_select(:teacher_id, @in_person.programme_session.school.teachers.all,:id,:full_name, class: "col-md-4") %> <%= f.select :attendance_value, ["Present", "Late", "Absent"], class: "col-md-4" %> <%= f.submit "Create Attendance", class: "btn btn-primary" %>
	 
	<%end%>

  </div>
</div>