<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Instill Education Data Portal</title>
    <%= csrf_meta_tags %> 
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %> 
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" %>

  </head>


  <body class="fixed skin-black">

<div class="wrapper">
      <%= render 'layouts/navigation/layout'%>
<div class="content-wrapper">
  <%= render 'layouts/error_messages' %>
          <%= yield %>
      </div>
      <%= render 'layouts/navigation/footer' %> 
</div>
  </body>
</html>
