<footer class="main-footer">
  <div class="pull-right hidden-xs">
   Data is private and confidential
  </div>
  <strong>
    2018
    <a href="https://instill.education"> Instill Education</a>
  </strong>
 
</footer>