<header class="main-header">
    <!-- Logo -->
    <%= link_to root_path, class: "logo" do %>
      <!-- mini logo for sidebar mini 50x50 pixels -->

      <span class="logo-mini"><b>A</b>LT</span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>Instill </b>Data Portal</span>
    <%end%>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
    <% if logged_in?%>
    <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>

      <div class="navbar-custom-menu">
        
        <ul class="nav navbar-nav">
          <!-- User Account: style can be found in dropdown.less -->
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <span><%= current_user.name%></span>
            </a>
            <ul class="dropdown-menu">
              <!-- User image -->
              <li class="user-header">

                <p><%= current_user.name%>
                </p>
              </li>
              <!-- Menu Body -->

              <!-- Menu Footer-->
              <li class="user-footer">

                  <%= link_to "Profile" ,current_user,class: "btn btn-default btn-flat" %>               

                  <%= link_to "Users", users_url, class: "btn btn-default btn-flat"%>

                  <%= link_to "Sign out", logout_path, method: :delete, class: "btn btn-default btn-flat"%>
              </li>
            </ul>
          </li>
        </ul>
        <%end%>
        
      </div>
    </nav>
  </header>