<div class="main-sidebar">
  <div class="sidebar">
    <ul class="sidebar-menu">
      <li class="header">
        SCHOOL INFORMATION
      </li>
      <li>
        <%= link_to teachers_path do %>
          Teachers 
        <%end%>
      </li>
      <li>
      <%= link_to schools_path do %>
          Schools 
        <%end%>
      </li>
      <li class="header">
        SESSIONS
      </li>
      <li>
          <%= link_to programme_sessions_path do %>
          All Sessions 
        <%end%>
      </li>
      <li>
        <%= link_to new_programme_session_path do %>
        Create New Session
        <%end%>
      </li>
      <li class="header">
        PROGRAMMES INFOMATION
      </li>
      <li>
        <%= link_to programmes_path do %>
        Programmes
        <%end%>
      </li>
      <li>
        <%= link_to action_steps_path do %>
        <span>Action Steps</span>
        <%end%>
      </li>
      <li>
        <%= link_to exit_tickets_path do %>
        <span>Exit Tickets</span>
        <%end%>
      </li>                              
    </ul>
  </div>
</div>